/*fonts*/
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-Black.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 900; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-BlackItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 900; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-BoldItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 700; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-Italic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: normal; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-LightItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 300; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-MediumItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 500; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-Thin.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 100; 
} 
@font-face {
  font-family: "CeraPro"; 
  src: url("../fonts/CeraPro/CeraPro-ThinItalic.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 100; 
} 

@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-UltraItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 200; 
} 
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-Ultra.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 200; 
} 
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-ThinItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 300; 
}
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-Thin.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300; 
}
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-SemiBoldItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 600; 
}
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-SemiBold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 600; 
}
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-RegularItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 400; 
}
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
}
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-LightItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 300; 
}
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300; 
}
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-BoldItalic.ttf") format("truetype"); 
  font-style: italic; 
  font-weight: 700; 
}
@font-face {
  font-family: "ZonaPro"; 
  src: url("../fonts/ZonaPro/ZonaPro-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700; 
}

/* Указываем box sizing */

html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*ul[class],
ol[class] {
   padding: 0;
}*/

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.6em;
  color: #333333;
  font-size: 18px;
  font-family: 'CeraPro'; 
  font-weight: 400;
}

ul[class],
ol[class] {
  list-style: none;
}

ul,
ol,
p {
  padding: 0;
}
p {
  margin-bottom: 16px;
}
p:last-child {
  margin-bottom: 0px;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
* {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
}

.container {
  max-width: 1620px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* ----- Типография  ----- */
h1, h2, h3, h4 {
  font-style: normal;
  line-height: 1.2em;
  font-family: "ZonaPro"; 
}



/*slick*/
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick/slick.eot');
  src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  color: white;
}


/* Arrows */
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 54, 167, 0.13);
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  border-radius: 100%;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover, .slick-next:focus {
  outline: none;
  background-color: rgba(0, 54, 167, 1);
  color: #fff;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
  color: #fff;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}
.slick-prev:before, .slick-next:before {
  font-family: monospace;
  font-size: 33px;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 1;
  color: rgba(0, 54, 167, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '<';
}
[dir='rtl'] .slick-prev:before {
  content: '>';
}
.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '>';
}
[dir='rtl'] .slick-next:before {
  content: '<';
}


/*preloader*/
.preloader {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.preloader__wrapp {
  width: 100px;
  height: 102px;
  border-radius: 100%;
  position: absolute;
  top: 45%;
  left: calc(50% - 50px);
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}
.circle .inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid rgba(49, 87, 186, 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(1, 32, 95, 0.15);
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle:nth-of-type(0) {
  transform: rotate(0deg);
}
.circle:nth-of-type(0) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.circle:nth-of-type(1) {
  transform: rotate(70deg);
}
.circle:nth-of-type(1) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.circle:nth-of-type(2) {
  transform: rotate(140deg);
}
.circle:nth-of-type(2) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.preloader__wrapp {
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
}

/*alert*/
.box-size {
  box-sizing: border-box;
}
.alert--fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  z-index: 999;
}
.alert--error,
.alert--warning,
.alert--active {
  display: flex;
}
.alert--width {
  width: 400px;
}
.alert--img__item svg {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.alert--img__item {
  display: none;
  flex-shrink: 0;
}
.alert--active .active {
  display: block;
}
.alert--warning .warning {
  display: block;
}
.alert--error .error {
  display: block;
}
.alert--content {
  position: relative;
  z-index: 12;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  color: #333333;
  margin-bottom: 10%;
}
.alert--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 11;
  top: 0px;
  left: 0px;
}
.alert-text {
  margin-top: 15px;
  text-align: center;
}
.alert--active .active path {
  fill: #4ad395;
}
.alert--warning .warning path {
  fill: #e5e75d;
}
.alert--error .error path {
  fill: #f81919;
}
.alert--title {
  font-size: 28px;
  font-weight: 500;
}
.alert--subtitle {
  font-weight: 400;
  font-size: 20px;
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid #ccbbbb;
}
.alert--x {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 8px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.alert--x svg {
  width: 100%;
  height: 100%;
}
.alert--x svg path {
  fill: #968787;
  transition: all 0.3s ease;
}
.alert--x:hover path {
  fill: black;
}

@media (max-width:1200px) {
  .alert--width {
      width: 370px;
  }
  .alert--content {
      padding: 25px;
  }
  .alert--img__item svg {
      width: 75px;
      height: 75px;
  }
  .alert-text {
      margin-top: 10px;
  }
  .alert--title {
      font-size: 24px;
  }
  .alert--subtitle {
      font-size: 18px;
  }
}

@media (max-width:500px) {
  .alert--content {
      width: 92%;
  }
  .alert--img__item svg {
      width: 60px;
      height: 60px;
  }
  .alert--title {
      font-size: 22px;
  }
}
/*alert*/

/*formLoader*/
.form_loader {
  position: fixed;
  display: none;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.form_loader_block {
  position: absolute;
  width: 350px;
  max-width: 90%;
  left: 50%;
  top: 45%;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.form_loader_animate {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
}
.form_loader_animate:after {
  content: "";
  display: block;
  width: 85%;
  height: 85%;
  /*margin: 8px;*/
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #3157BA transparent #3157BA transparent;
  animation: loader-animate 1.2s linear infinite;
}
.form_loader_text {
  font-size: 20px;
  text-align: center;
}

@keyframes loader-animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/*formLoader*/



@media (max-width: 1650px) {
  .container {
      max-width: 1400px;
  }
}
@media (max-width: 1450px) {
  .container {
      max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
      max-width: 1100px;
  }
}
@media (max-width: 1100px) {
  .container {
      max-width: 980px;
  }
}
@media (max-width: 980px) {
  .container {
      width: 100%;
  }
  body {
    font-size: 16px;
  }
}
@media (max-width: 767px) {

}