/* ----- Header ----- */
.header {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.2s ease-in-out;
}
.header__container {
  position: relative;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 120px;
  height: 24px;
  object-fit: contain;
}
.header__logo img {
  height: 100%;
  width: 100%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.header__mobile-menu {
  display: none;
}
.header__list__item ,.header__phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.header__list__item a, .header__phone {
  transition: all 0.2s ease;
  position: relative;
}
.header__list__item.active a {
  color: #CC8916;
}
.header__list__item.active a:after {
  content: none;
}
.header__list__item a::after, .header__phone::after {
  display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #fff;
	content: "";
	transition: width 0.3s ease-out;
}
.header__list__item a:hover:after,
.header__phone:hover:after {
	width: 100%;
}
.nav_icon {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav_icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  transform-origin: left center;
}
.nav_icon span:nth-child(1) {
  top: 0px;
}
.nav_icon span:nth-child(2) {
  top: 7px;
}
.nav_icon span:nth-child(3) {
  top: 14px;
}

.header__connection {
  display: none;
}

/*buttons*/
.button {
  padding: 10px 35px;
  border: 1px solid #FFE4B6;
  border-radius: 10px;
  font-weight: 500;
  display: block;
  transition: all 0.2s ease;
  max-width: max-content;
}
.button:hover {
  background: transparent;
  color: #CC8916;
  border: 1px solid #CC8916;
  cursor: pointer;
}
.button:active {
  background-color: #CC8916;
  color: #fff
}
.button-light {
  background-color: #FFE4B6;
  color: #000;
}
.button-dark {
  background-color: transparent;
  color: #FFE4B6;
}
.price__card__buttons .button-dark {
  background-color: transparent;
  color: #CC8916;
  border: 1px solid #CC8916;
}
.price__card__buttons .button-dark:hover, .price__card__buttons .button-light:hover {
  background-color: #CC8916;
  color: #fff
}

/*rasim section*/
.rasim {
  background: url(../image/background-1.jpg) #20222F center no-repeat;
  background-size: cover;
}
.rasim__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 0;
}
h1.caption {
  font-family: 'RezaZulmiSerif';
  font-weight: 400;
  font-size: 55px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.rasim__title {
  max-width: 640px;
  margin-bottom: 60px;
  color: #FFE4B6;
}
.rasim__buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 24px;
}
.rasim__footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  color: #FFE4B6;
  position: absolute;
  bottom: 24px;
}
.rasim__down-contact {
  font-weight: 500;
}
.rasim__footer .connection__link::after {
  background-color: #FFE4B6;
}
.sticky__telephone {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #2D9037;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  float: right;
  z-index: 99;
  display: none;
}
.sticky__telephone::after,
.sticky__telephone::before {
  content: '';
  position: absolute;
  border: 2px solid #2D9037;
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
  z-index: 0;
}
.sticky__telephone::after {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.telephone__img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
.telephone__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*services section*/
.services {
  padding: 150px 0;
}
.services__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 40px;
}
h2.caption {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2em;
  font-family: 'RezaZulmiSerif';
}
.services__title {
  max-width: 490px;
}
.caption span {
  font-size: 18px;
  line-height: 22px;
  color: #CC8916;
  display: block;
  margin-bottom: 10px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
}
.services__card {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  height: 100%;
}
.services__card:hover {
  background: #20222F;
}
.services__card:hover .services__card__title, .services__card:hover .services__card__text {
  color: #fff;
}
.services__card__img {
  display: block;
  height: 70px;
  width: 70px;
  margin-bottom: 40px;
}
.services__card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
h4.caption {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2em;
  font-family: 'Gotham';
}
.services__card__title {
  margin-bottom: 24px;
  transition: all 0.2s ease;
}
.services__card__text {
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 50px;
  transition: all 0.2s ease;
}
.card__button {
  margin-top: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #CC8916;
  transition: all 0.2s ease;
  position: relative;
  max-width: max-content;
}
.card__button::after {
  display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #CC8916;
	content: "";
	transition: width 0.3s ease-out;
}
.services__card:hover .card__button::after {
	width: 100%;
}

/*steps section*/
.steps {
  padding: 70px 0;
  background: url(../image/background-2.jpg) center no-repeat;
  background-size: cover;
}
.steps__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
}
.steps__description {
  margin-bottom: 44px;
}
.steps__title {
  color: #fff;
  margin-bottom: 40px;
}
.steps__text {
  font-size: 18px;
  line-height: 130%;
  max-width: 600px;
}
.steps__list {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  text-align: start;
  counter-reset: list;
}
.steps__list__item {
  max-width: 280px;
  height: 100px;
  padding-left: 70px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.steps__list__item::before {
  counter-increment: list;
  content: counter(list);
  font-size: 100px;
  line-height: 100%;
  color: rgba(255, 228, 182, 0.48);
  position: absolute;
  left: 0;
  bottom: -13px;
}

/*advantages section*/
.advantages {
  padding: 150px 0;
}
.advantages__title {
  margin-bottom: 60px;
  text-align: center;
}
.advantages__cards {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
  row-gap: 40px;
}
.advantages__card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}
.advantages__card__img {
  background: #fff;
  width: 120px;
  height: 120px;
  position: relative;
  z-index: 9;
  margin-bottom: 50px;
}
.advantages__card__img img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9;
}
.advantages__card__img::after {
  content: '';
  background-color: #fff;
  width: 120px;
  height: 120px;
  transform: rotate(45deg);
  border: 1px solid;
  border-image-source: linear-gradient(99.07deg, #FCF2B1 -5.63%, #CBBF52 8.83%, #A98C3D 20.08%, #4A3D18 36.15%, #FFE679 43.65%, #A89739 50.61%, #FBF1CC 65.07%, #FFFFFF 72.57%, #9C8832 85.46%);
  border-image-slice: 1;
  border-width: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.advantages__card__img::before {
  content: '';
  width: 120px;
  height: 120px;
  background: linear-gradient(99.07deg, #FCF2B1 -5.63%, #CBBF52 8.83%, #A98C3D 20.08%, #4A3D18 36.15%, #FFE679 43.65%, #A89739 50.61%, #FBF1CC 65.07%, #FFFFFF 72.57%, #9C8832 85.46%);
  position: absolute;
  left: -20px;
  z-index: 0;
  transform: rotate(45deg);
}
.advantages__container {
  margin-bottom: 150px;
}
.quality__container {

}
.quality__title {
  margin-bottom: 40px;
  text-align: center;
}
.quality__text {
  margin-bottom: 50px;
  text-align: center;
}
.quality__cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.quality__card {
  display: grid;
  gap: 60px;
  align-items: center;
}
.quality__card.center {
  justify-content: center;
  justify-items: center;
}
.quality__item {
  display: flex;
  gap: 40px;
  align-items: center;
}
.quality__item__img {
  background: #fff;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 9;
}
.quality__item__img img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9;
}
.quality__item__img::after {
  content: '';
  background-color: #fff;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  border: 1px solid;
  border-image-source: linear-gradient(99.07deg, #FCF2B1 -5.63%, #CBBF52 8.83%, #A98C3D 20.08%, #4A3D18 36.15%, #FFE679 43.65%, #A89739 50.61%, #FBF1CC 65.07%, #FFFFFF 72.57%, #9C8832 85.46%);
  border-image-slice: 1;
  border-width: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.quality__item__text {
  width: 250px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}
.quality__card__logo {
  width: 336px;
  height: 171px;
}
.quality__card__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.displacement {
  position: relative;
  left: 100px;
}


/*consultation section*/
.consultation {
  padding: 120px 0;
  background: url(../image/line.png) #20222F center no-repeat;
  background-size: cover;
}
.consultation__container {
  text-align: center;
  color: #fff;
}
h2.consultation__title {
  margin-bottom: 40px;
}
.consultation__text {
  max-width: 628px;
  margin: auto;
  margin-bottom: 78px;
}
h4.consultation__title {
  margin-bottom: 20px;
  color: #FFE4B6;
  font-weight: 400;
}
.consultation-tel {
  font-size: 40px;
}
.consultation-tel a {
  transition: all 0.2s ease;
}
.consultation-tel a:hover {
  color: #CC8916;
}

/*catalog section*/
.catalog {
  padding: 150px 0;
}
.catalog__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
}
.catalog__card {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}
.catalog__card:hover {
  background: #20222F;
}
.catalog__card:hover .catalog__card__title, .catalog__card:hover .catalog__card__text {
  color: #fff;
}
.catalog__card__img {
  display: block;
  height: 70px;
  width: 70px;
  margin-bottom: 40px;
}
.catalog__card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.catalog__link {
  margin-top: auto;
}
.catalog__card__title {
  margin-bottom: 16px;
  transition: all 0.2s ease;
}
.catalog__card__text {
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
  transition: all 0.2s ease;
}
.catalog__card__button {
  border: none;
  background: transparent;
  padding: 0;
  text-align: start;
  transition: all 0.2s ease;
}
.catalog__card:hover .card__button::after {
	width: 100%;
}

/*services page*/
.services-catalog {
  padding: 44px 0;
  background: url(../image/background-3.png) center no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}
.services-catalog__title {
  margin-bottom: 30px;
}

/*accessories page*/
.accessories {
  padding: 44px 0;
  background: url(../image/background-4.png) center no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}
h1.accessories__title {
  margin-bottom: 30px;
}
.accessories-catalog {
  padding: 100px 0;
  padding-bottom: 170px;
}
.accessories-catalog__title {
  margin-bottom: 40px;
}
.accessories-catalog__cards {
  gap: 30px;
}
.accessories-catalog__card {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}
.accessories-catalog__card:hover {
  background: #20222F;
}
.accessories-catalog__card:hover .accessories-catalog__card__title, .accessories-catalog__card:hover .accessories-catalog__card__text {
  color: #fff;
}
.accessories-catalog__card__img {
  display: block;
  height: 200px;
  margin: -20px -20px 30px;

}
.accessories-catalog__card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.accessories-catalog__card__title {
  margin-bottom: 16px;
  transition: all 0.2s ease;
}
.accessories-catalog__card__text {
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 16px;
  transition: all 0.2s ease;
}
.accessories-catalog__card__button {
  border: none;
  background: transparent;
  padding: 0;
  text-align: start;
  transition: all 0.2s ease;
}
.accessories-catalog__card:hover .card__button::after {
	width: 100%;
}


/*domestic-services*/
.domestic-services {
  padding: 44px 0;
  background: url(../image/background-5.jpg) 10% top no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff; 
}
.domestic-services__title {
  margin-bottom: 30px;
}
.about-service {
  padding: 100px 0 150px 0;
}
.about-service__title {
  margin-bottom: 40px;
}
.about-service__text {
  max-width: 960px;
}
.about-service__text p {
  padding-bottom: 30px;
}
.about-service__text p:last-child {
  padding-bottom: 0px;
}
.about-service__img {
  position: absolute;
  right: 0;
  top: 0;
}
.about-service__description {
  position: relative;
  margin-bottom: 40px;
  padding-right: 400px;
}
.documents, .price, .recommendations {
  padding-top: 150px;
}
.documents__title {
  margin-bottom: 40px;
}
.documents__card  {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.documents__card__img {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}
.documents__card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.price__container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
}
.price__title {
  margin-bottom: 40px;
  max-width: 355px;
}
.price__text {
  max-width: 628px;
}
.price__card {
  background: #FFFFFF;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 30px;
  align-self: flex-end;
}
.price__card__item {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}
.price__card__buttons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 50px;
}
span.price-orange {
  display: inline-block;
  margin-left: 30px;
  color: #CC8916;
}
.price__card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price__card__image {
  width: 70px;
  height: 70px;
}
.price__card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.recommendations {
  padding-bottom: 220px;
}
.recommendations__title {
  margin-bottom: 40px;
}
/* breadcrumbs__list */
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
.breadcrumbs__item::after {
  content: '>';
  font-family: monospace;
  color: #CC8916;
}
.breadcrumbs__item:last-child::after {
  content: '';
}
.breadcrumbs__link.active {
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}


/*footer section*/
.footer {
  padding: 0;
  padding-top: 150px;
  background-color: #20222F;
  color: #fff;
}
.footer__connection {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-items: center;
  background-color: #20222F;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 70px;
  margin-top: -215px;
  z-index: 1;
}
.connection__text {
  font-family: 'RezaZulmiSerif';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.connection__text-orange {
  color: #CC8916;
  margin-bottom: 12px;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
  margin-bottom: 70px;
}
.footer__description, .footer__time {
  grid-column: span 2;
}
h4.footer__title {
  color: #CC8916;
  font-weight: 400;
  font-family: 'RezaZulmiSerif';
  margin-bottom: 30px;
}
.footer__text {
  max-width: 400px;
  font-size: 16px;
}
.footer__list__item {
  font-size: 16px;
  padding-bottom: 15px;
}
.footer__list__item:last-child {
  padding-bottom: 0;
}
.footer__time .footer__text {
  margin-bottom: 50px;
}
.footer__down {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 0.3px solid rgba(255, 255, 255, 0.55);
}

.footer__card {
  position: relative;
  display: flex;
  gap: 30px;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-right: 0.3px solid rgba(255, 255, 255, 0.55);
  padding: 20px;
}
.footer__card:last-child {
  border-right: none;
}
.footer__image {
  width: 60px;
  height: 60px;
}
.footer__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__list__item a, .connection__link, .footer__down a {
  position: relative;
}
.footer__list__item a::after, .connection__link::after , .footer__down a::after {
  display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #fff;
	content: "";
	transition: width 0.3s ease-out;
}
.footer__list__item a:hover:after,
.connection__link:hover:after, .footer__down a:hover::after {
	width: 100%;
}
.connection__address {
  max-width: 170px;
  line-height: 1.2em;
}
/*.footer__card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer__card.phone::before {
  content: url(../image/svg/phone.svg);
}
.footer__card.mail::before {
  content: url(../image/svg/email.svg);
}
.footer__card.address::before {
  content: url(../image/svg/location.svg);
}*/



/*popup*/
.popup{
  width:100%;
  min-height:100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  overflow:hidden;
  position:fixed;
  top:0px;
}
.popup__container {
  width: 386px;
  min-height: 443px;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 20px;
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  padding: 0;
}
.popup-close::before {
  content: url('../image/svg/close.svg');
  width: 24px;
  height: 24px;
}
.popup-close:hover {
  cursor: pointer;
}
.popup__header {
  text-align: center;
  margin-bottom: 24px;
}
.popup__header span{ 
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
}
.popup__header h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}
.label-txt {
  padding-left: 20px;
  margin-bottom: 5px;
  display: block;
}
.popup input[type="text"], input[type="tel"] {
  width: 100%;
  padding: 8px 20px;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  margin-bottom: 20px;
}
.popup input[type="text"]:focus, input[type="tel"]:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.popup__check {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.popup__check label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.popup__footer {
  text-align: center;
}
.popup__button {
  background: #FFE4B6;
  border-radius: 10px;
  padding: 10px 35px ;
  border: none;
  text-align: center;
  color: #000;
}
.popup__button:hover {
  background: transparent;
  color: #CC8916;
  border: 1px solid #CC8916;
  cursor: pointer;
}
.popup__button:active {
  background-color: #CC8916;
  color: #fff
}

/*slick*/
.catalog .slick-dots li, .services .slick-dots li, .recommendations .slick-dots li, .documents .slick-dots li {
  margin: 0;
  height: 6px;
  width: 20px;
}
.catalog .slick-dots li button, .services .slick-dots li button, .recommendations .slick-dots li button, .documents .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 6px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.catalog .slick-dots li button:before, .services .slick-dots li button:before, .recommendations .slick-dots li button:before, .documents .slick-dots li button:before {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 6px;
  content: '';
  text-align: center;
  opacity: 1;
  background-color: rgba(32, 34, 47, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.catalog .slick-dots li.slick-active button:before, .services .slick-dots li.slick-active button:before, .recommendations .slick-dots li.slick-active button:before, .documents .slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #20222F!important;
  border-radius: 5px;
}
.catalog .slick-dots li:first-child button::before, .services .slick-dots li:first-child button::before, .recommendations .slick-dots li:first-child button::before, .documents .slick-dots li:first-child button::before {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.catalog .slick-dots li:last-child button::before, .services .slick-dots li:last-child button::before, .recommendations .slick-dots li:last-child button::before, .documents .slick-dots li:last-child button::before {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.services .slick-list, .catalog .slick-list, .recommendations .slick-list, .documents .slick-list {
  overflow: visible !important;
}
.services .slick-slide, .catalog .slick-slide, .recommendations .slick-slide {
  width: 80vw !important;
  height: 340px;
}
.documents .slick-slide {
  width: 80vw !important;
  height: 218px;
}
.services .slick-initialized .slick-slide, .catalog .slick-initialized .slick-slide, .recommendations .slick-initialized .slick-slide, .documents .slick-initialized .slick-slide {
  display: flex !important;
}
.services .services__cards .slick-slide, .catalog .catalog__cards .slick-slide, .recommendations .slick-slide, .documents .slick-slide {
  margin: 0 10px;
}
/*.services .services__cards .slick-list, .catalog .catalog__cards .slick-list, .recommendations .slick-list, .documents .slick-list {
  margin: 0 -10px;
}*/
.services .slick-dots, .catalog .slick-dots, .recommendations .slick-dots, .documents .slick-dots {
  bottom: -50px;
}
.documents  .slick-dotted.slick-slider {
  margin-bottom: 50px;
}
.services, .catalog, .recommendations {
  overflow: hidden;
}


/*responsive*/
@media (max-width: 1650px) {
  .services__card, .accessories-catalog__card, .advantages__card, .catalog__card, .documents__card, .price__card {
    padding: 20px;
  }
  h1.caption {
    font-size: 48px;
  }
  h2.caption {
    font-size: 38px;
  }
  h4.caption {
    font-size: 22px;
  }
  .displacement {
    position: relative;
    left: 20px;
  }
}
@media (max-width: 1450px) {
  .cards {
    grid-template-columns: repeat(4,1fr);
  }
  .accessories-catalog__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }
  h1.caption {
    font-size: 42px;
  }
  h2.caption {
    font-size: 32px;
  }
  .displacement {
    position: relative;
    left: 0px;
  }
  .quality__item {
    align-items: center;
    flex-direction: column;
  }
  .quality__item__text {
    text-align: center;
  }
  .quality__card.center {
    justify-content: flex-start;
    order: 1;
  }
  .quality__card {
    align-items: end;
  }
}
@media (max-width: 1200px) {
  .header__list {
      column-gap: 20px;
  }
  .advantages__cards {
    grid-template-columns: repeat(3,1fr);
  }
  span.price-orange {
    margin: 0;
  }
  .steps__list {
    grid-template-columns: repeat(3,1fr);
  }
  .steps__list__item {
    max-width: 320px;
  }
  .steps__list__item::before {
    font-size: 70px;
  }
}
@media (max-width: 1100px) {
  .consultation-tel {
    font-size: 30px;
  }
  .footer__connection {
    height: auto;
  }
  .footer__card {
    flex-direction: column;
    gap: 24px;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer__image {
    width: 45px;
    height: 45px;
  }
  .connection__text {
    font-size: 20px;
  }
  .cards {
    grid-template-columns: repeat(3,1fr);
  }
  h1.caption {
    font-size: 40px;
  }
  h2.caption {
    font-size: 30px;
  }
  h4.caption {
    font-size: 20px;
  }
}
@media (max-width: 980px) {
  h1.caption {
    font-size: 36px;
  }
  h2.caption {
    font-size: 26px;
  }
  .header__mobile-menu {
      display: block;
  }
  .header, .header__logo {
    background-color: transparent;
  }
  .header.scroll {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .header__nav {
    position: absolute;
    padding: 60px 20px;
    padding-top: 100px;
    top: 0;
    z-index: -1;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    background-color: #20222F;
    transition: all 0.3s ease-in-out;
    display: grid;
    align-content: space-between;
  }
  .header__nav.opened {
    z-index: -1;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__list {
      flex-direction: column;
      gap: 22px;
  }
  .nav_icon.active span:nth-of-type(2) {
      display: none;
  }
  .nav_icon.active span:nth-of-type(1) {
      transform: rotate(45deg); 
  }
  .nav_icon.active span:nth-of-type(3) {
      transform: rotate(-45deg);
  }
  .header__list__item {
      width: 100%;
      padding: 12px 8px;
  }
  .header__connection {
    display: grid;
    color: #fff;
    gap: 24px;
  }
  .header__card {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .connection__text-orange {
    margin-bottom: 7px;
  }
  .header__image {
    width: 45px;
    height: 45px;
  }
  .header__image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .header__phone {
    display: none;
  }
  .rasim__container {
    height: 80vh;
  }
  .services, .advantages, .consultation, .about-service {
    padding: 100px 0;
  }
  .documents, .price, .recommendations {
    padding-top: 100px;
  }
  .recommendations, .catalog, .accessories-catalog, .services-page {
    padding-bottom: 170px;
  }
  .accessories-catalog__cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }
  .price__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .price__text {
    max-width: 900px;
  }
  .price__title {
    max-width: 100%;
  }
  .documents__cards {
    grid-template-columns: 1fr 1fr;
  }
  .about-service__description {
    padding-bottom: 210px;
    padding-right: 0;
  }
  .about-service__img {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
  }
  .quality__card__logo {
    display: none;
  }
  .quality__card {
    align-items: start;
    justify-content: center;
  }
  .quality__item__img {
    width: 80px;
    height: 80px;
  }
  .quality__item__img::after {
    width: 80px;
    height: 80px;
  }
  .quality__item {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 880px) {
  .steps__list {
    grid-template-columns: repeat(2,1fr);
}
}
@media (max-width: 767px) {
  .sticky__telephone {
    display: block;
  }
  h1.caption {
    font-size: 30px;
  }
  h2.caption {
    font-size: 24px;
  }
  h4.caption {
    font-size: 18px;
  }
  .button.btn-txt {
    width: auto;
  }
  .cards {
    grid-template-columns: repeat(2,1fr);
}
  .rasim__title {
    margin-bottom: 50px;
  }
  .button {
    width: 100%;
    text-align: center;
    max-width: 100%;
  }
  .rasim__footer {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .rasim__down-contact {
    order: 1;
  }
  .rasim__down-address {
    font-size: 16px;
  }
  .services, .steps, .advantages, .consultation, .catalog, .accessories-catalog, .about-service, .services-page {
    padding: 60px 0;
  }
  .documents, .price, .recommendations {
    padding-top: 60px;
  }
  .recommendations {
    padding-bottom: 80px;
  }
  .rasim__container {
    padding: 60px 0;
  }
  .catalog {
    padding-bottom: 80px;
  }
  .services__title, .catalog__title  {
    max-width: 50%;
    margin-bottom: 0;
  }

  .services__card__title {
    margin-bottom: 16px;
  }
  .services__card__text {
    margin-bottom: 24px;
  }
  .steps__title {
    margin-bottom: 24px;
  }
  .steps__list__item::before {
    font-size: 50px;
    bottom: -5px;
  }
  .steps__list__item {
    max-width: 100%;
    height: 60px;
    padding-left: 40px;
  }
  .steps__button {
    width: 100%;
  }
  .steps__description {
    margin-bottom: 24px;
  }
  .advantages__cards {
    grid-template-columns: repeat(2,1fr);
  }
  .advantages__card__img img {
    width: 45px;
    height: 45px;
  }
  .advantages__card__img::before, .advantages__card__img::after, .advantages__card__img {
    width: 100px;
    height: 100px;
  }
  .consultation-tel {
    font-size: 24px;
  }
  h2.consultation__title {
    margin-bottom: 32px;
  }
  .consultation__text {
    max-width: 628px;
    margin: auto;
    margin-bottom: 40px;
  }
  h4.consultation__title {
    font-size: 16px;
  }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-bottom: 50px;
  }
  .footer__time {
    grid-column: span 1;
  }
  .footer__connection {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-items: start;
    height: auto;
    padding: 32px;
    gap: 24px;
    margin-bottom: 56px;
    margin-top: -170px;
  }
  .footer__time .footer__text {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .footer__card {
    padding: 0;
    border-right: none;
    flex-direction: row;
  }

  .documents {
    overflow: hidden;
  }
  .documents__cards {
    grid-template-columns: 1fr;
  }
  .price__card__item {
    gap: 20px;
  }

  h4.price__card__title {
    font-size: 18px;
  }
  .price__card__image {
    width: 45px;
    height: 45px;
  }
  .price__card__text {
    gap: 10px;
  }
  .accessories-catalog__title, .about-service__title, .documents__title, .price__title, .recommendations__title {
    margin-bottom: 32px;
  }
  .quality__cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
  }
  .quality__item__text {
    max-width: 250px;
    width: 100%;
  } 
}

@media (max-width: 568px) {
  .services__cards, .catalog__cards {
    display: block;
  }
  .steps__list {
    grid-template-columns: repeat(1,1fr);
  }
  .services-list, .accessories-catalog__cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
  }
  .popup__container {
    padding: 20px;
    padding-top: 50px;
    width: 320px;
  }
  .button.btn-txt {
    width: 60px;
    padding: 3px 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .services__title {
    margin-bottom: 0;
  }
  .services__header, .catalog__header {
    position: relative;
  }
  .services__title, .catalog__title {
    max-width: 100%;
  }
  .footer__container {
    position: relative;
    padding-bottom: 80px;
  }
  .footer__time .button {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer__time .footer__text {
    margin-bottom: 0px;
  }
}