@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  font-display: swap;
  src: url('../fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  font-display: swap;
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  font-display: swap;
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
/*-------------- end general css ---------------- */


/*------------- Start Slick Icons ------------- */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick/slick.eot');
    src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');
}
/*------------- End Slick Icons ------------- */

/* Указываем box sizing */

html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
p {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4em;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-family: 'OpenSans';
  margin: 0px;
  padding: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}


.container {
  max-width: 1600px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  height: 100%;
}

/* ----- Типография  ----- */
/*h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em;
}*/


@media (max-width: 1650px) {
  .container {
      max-width: 1440px;
  }
}
@media (max-width: 1450px) {
  .container {
      max-width: 1260px;
  }
}
@media (max-width: 1200px) {
  .container {
      max-width: 1100px;
  }
}
@media (max-width: 1100px) {
  .container {
      max-width: 980px;
  }
}
@media (max-width: 980px) {
  .container {
      width: 100%;
      max-width: unset;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}


/*formLoader*/
.form_loader {
  position: fixed;
  display: none;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.form_loader_block {
  position: absolute;
  width: 350px;
  max-width: 90%;
  left: 50%;
  top: 45%;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.form_loader_animate {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
}
.form_loader_animate:after {
  content: "";
  display: block;
  width: 85%;
  height: 85%;
  /*margin: 8px;*/
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #FF335A transparent #FF335A transparent;
  animation: loader-animate 1.2s linear infinite;
}
.form_loader_text {
  font-size: 20px;
  text-align: center;
}

@keyframes loader-animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/*formLoader*/


/*alert*/
.box-size {
  box-sizing: border-box;
}
.alert--fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  z-index: 999;
}
.alert--error,
.alert--warning,
.alert--active {
  display: flex;
}
.alert--width {
  width: 400px;
}
.alert--img__item svg {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.alert--img__item {
  display: none;
  flex-shrink: 0;
}
.alert--active .active {
  display: block;
}
.alert--warning .warning {
  display: block;
}
.alert--error .error {
  display: block;
}
.alert--content {
  position: relative;
  z-index: 12;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  color: #333333;
  margin-bottom: 10%;
}
.alert--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 11;
  top: 0px;
  left: 0px;
}
.alert-text {
  margin-top: 15px;
  text-align: center;
}
.alert--active .active path {
  fill: #4ad395;
}
.alert--warning .warning path {
  fill: #e5e75d;
}
.alert--error .error path {
  fill: #f81919;
}
.alert--title {
  font-size: 28px;
  font-weight: 500;
}
.alert--subtitle {
  font-weight: 400;
  font-size: 20px;
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid #ccbbbb;
}
.alert--x {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 8px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.alert--x svg {
  width: 100%;
  height: 100%;
}
.alert--x svg path {
  fill: #968787;
  transition: all 0.3s ease;
}
.alert--x:hover path {
  fill: black;
}

@media (max-width:1200px) {
  .alert--width {
      width: 370px;
  }
  .alert--content {
      padding: 25px;
  }
  .alert--img__item svg {
      width: 75px;
      height: 75px;
  }
  .alert-text {
      margin-top: 10px;
  }
  .alert--title {
      font-size: 24px;
  }
  .alert--subtitle {
      font-size: 18px;
  }
}

@media (max-width:500px) {
  .alert--content {
      width: 92%;
  }
  .alert--img__item svg {
      width: 60px;
      height: 60px;
  }
  .alert--title {
      font-size: 22px;
  }
}
/*alert*/


/*fonts*/

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/') format('truetype');
}


/*preloader*/
.preloader__wrapp {
  width: 100px;
  height: 102px;
  border-radius: 100%;
  position: absolute;
  top: 45%;
  left: calc(50% - 50px);
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}
.circle .inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid rgba(54, 54, 54, 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(64, 64, 64, 0.15);
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle:nth-of-type(0) {
  transform: rotate(0deg);
}
.circle:nth-of-type(0) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.circle:nth-of-type(1) {
  transform: rotate(70deg);
}
.circle:nth-of-type(1) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.circle:nth-of-type(2) {
  transform: rotate(140deg);
}
.circle:nth-of-type(2) .inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.preloader__wrapp {
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
}
