.container {
  max-width: 1600px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
h2.caption {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 400;
}
h4.caption {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 400;
}

/*------------------ Start Header ------------------*/
.header {
  background-color: #fff;
  border-bottom: 1px solid #DBDBDB;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__logo {
  width: 150px;
  height: 38px;
  display: block;
  margin-right: 100px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header_menu, .header__elem {
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu_item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1em;
  color: #000;
  position: relative;
}
.menu_item.active {
  color: #354FD5;
}
.menu_item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .5s cubic-bezier(.25,.75,.5,1.25);
}
.menu_item:hover::after {
  width: 100%;
}
.menu_item.active:hover::after {
  content: none;
}
.header__elem {
 margin-left: 100px;
 gap: 30px;
}
.header__elem_tel {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
  color: #000;
  position: relative;
  padding-left: 55px;
  display: block;
}
.header__elem_tel::before {
  content: url(../img/phone.svg);
  width: 40px;
  height: 40px;
  border: 1px solid #354FD5;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  padding: 7px;
}
.header__elem_tel:hover {
  color: #354FD5;
}
.header__elem_time {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2em;
}
.header__mobile-menu {
  display: none;
}
/*------------------ End Header ------------------*/

/*------------------ Start Button ------------------*/
.button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2em;
  transition: all 0.2s ease-in-out;
}
.button svg {
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
 }
.button:hover {
  cursor: pointer;
}
.button:hover svg {
  margin-left: 20px;
 }
/*------------------ End Button ------------------*/

/*--------------- Start Slider --------------*/
/*arrow*/
.slick__pagin .slick_next, .slick__pagin .slick_prev {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 0;
}
.slick__pagin .slick_prev {
  left: 30px;
}
.slick__pagin .slick_next {
  right: 30px;
}
.slick__pagin .slick_next:hover, .slick__pagin .slick_prev:hover {
  cursor: pointer;
}
.slick__pagin .slick_next circle, .slick__pagin .slick_prev circle {
  fill: rgba(255, 255, 255, 0.56);
}
.slick__pagin .slick_next:hover circle, .slick__pagin .slick_prev:hover circle {
  fill: #354FD5;
}
.slick__pagin .slick_next:hover path, .slick__pagin .slick_prev:hover path {
  stroke: #fff;
}
.js-card-slider .slick_prev {
  left: -60px;
}
.js-card-slider .slick_next {
  right: -60px;
}
.slick__pagin .slick-list {
  margin-bottom: 60px;
}
.slick__pagin .slick-dots {
  bottom: -60px;
  border-radius: 30px;
  background-color: #DBDBDB;
  height: 2px;
  display: flex;
  justify-content: space-between;
}
.slick__pagin .slick-dots li button:before {
  content: none;
}
.slick__pagin .slick-dots li {
  margin: 0;
  height: 2px;
  width: 0;
}
.slick__pagin .slick-dots li.slick-active {
  background-color: #3A3A3A;
  width: 200px;
  border-radius: 30px;
}
.slick__pagin .slick-dots li button {
  padding: 0;
  height: 2px;
  font-size: 0;
  border: none;
}
/*--------------- End Slider --------------*/

/*------------------ Start Main Screen ------------------*/
.full-slider {
  padding-top: 78px;
  overflow: hidden;
}
.full-slider .container {
  width: 100%;
  max-width: unset;
  padding: 0;
}
.slider__item {
  width: 100vw;
  height: 700px;
  position: relative;
}
.slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
/*arrows*/
.full__slider  .slick_next, .full__slider .slick_prev {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 0;
}
.full__slider .slick_prev {
  left: 30px;
}
.full__slider .slick_next {
  right: 30px;
}
.full__slider .slick_next circle, .full__slider .slick_prev circle {
  fill: rgba(255, 255, 255, 0.56);
}
.full__slider .slick_next:hover circle, .full__slider .slick_prev:hover circle {
  fill: #fff;
}
.full__slider .slick_next:hover path, .full__slider .slick_prev:hover path {
  stroke: #000;
}
.full__slider .slick_next:hover, .full__slider .slick_prev:hover {
  cursor: pointer;
}
/*dots*/
.full__slider .slick-dots {
  position: absolute;
  bottom: 60px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: transparent;
}
.full__slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100%;
}
.full__slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 14px;
  height: 14px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 100%;
}
.full__slider .slick-dots li button:hover,
.full__slider .slick-dots li button:focus {
  outline: none;
}
.full__slider .slick-dots li button:hover:before,
.full__slider .slick-dots li button:focus:before {
  opacity: 1;
}
.full__slider .slick-dots li button:before {
  font-family: 'slick';
  font-size: 14px;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  content: '•';
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 100%;
}
.full__slider .slick-dots li.slick-active button:before {
  color: #354FD5;
  font-size: 15px;
}
.full__slider .slick-list {
  margin-bottom: 0px;
} 
/*------------------ End Main Screen ------------------*/

/*------------------ Start Our Projects ------------------*/
.our-projects {
  padding-top: 130px;
  padding-bottom: 150px;
}
.projects__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.projects__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2em;
  color: #000;
}
.projects__elem {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.projects__map, .projects__panorama {
  display: flex;
  padding: 8px 25px;
  border: 1px solid #BCBCBC;
  border-radius: 50px;
  width: max-content;
  align-items: center;
  gap: 10px;
  color: #000;
  transition: all 0.2s ease-in-out;
}
.projects__map path, .projects__panorama path {
  transition: all 0.2s ease-in-out;
}
.projects__map:hover, .projects__panorama:hover {
  background-color: #354FD5;
  border: 1px solid #354FD5;
  color: #fff;
  cursor: pointer;
}
.projects__map:hover path, .projects__panorama:hover path {
  fill: #fff;
}
.projects__tabs {
  margin-bottom: 50px;
}
.filter-btn {
  background-color: #354FD5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  display: block;
  width: max-content;
  grid-column: span 2;
  margin-left: auto;
  height: max-content;
  position: relative;
}
.filter-btn svg {
  margin-right: 10px;
}
.filter-btn.active .light {
  animation: light 1.5s infinite  linear;
}
.light {
  position: absolute;
  width: 20px;
  height: 110%;
  top: -5%;
  left: -100px;
  background-color: rgba(255, 255, 255, 0.4);
}
@keyframes light{
  0%{
    transform: translateX(0) skewX(-30deg);
  }
  100%{
    transform: translateX(500px) skewX(-30deg);
  }
}
.projects__captions {
  display: flex;
}
.projects__content {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0px 10px 10px 10px;
  z-index: 1;
  position: relative;
  padding: 25px;
}
.projects__content {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 30px;
  align-items: center;
  margin-bottom: 50px;
}
.content__column span {
  display: block;
  margin-bottom: 5px;
}
.projects__rooms span {
  width: 100%;
}
.projects__rooms {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.projects__rooms .room label {
  width: 44px;
  height: 44px;
  text-align: center;
  background: #F0F1F8;
  border-radius: 5px;
  color: #000;
  padding: 14px;
  display: block;
  line-height: 1;
}
.projects__rooms input[type="checkbox"] {
  display: none;
}
.projects__rooms input[type="checkbox"] + label:hover {
  cursor: pointer;
}
.projects__rooms input[type="checkbox"]:checked + label {
  background: #354FD5;
  color: #fff;
}
.projects__captions input[type="radio"] {
  display: none;
}
.projects__captions input[type="radio"] + label:hover {
  cursor: pointer;
}
.projects__captions input[type="radio"]:checked + label {
  background: #fff;
  box-shadow: 0px -8px 15px rgba(0, 0, 0, 0.05);
  z-index: 2;
}
.projects__captions label {
  padding: 8px 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0px 0px;
  z-index: 0;
  background-color: #F0F1F8;
  min-width: 140px;
}
.projects__captions label:hover {
  cursor: pointer;
}
.projects__form select {
  background: #F0F1F8;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
.projects__form select:focus {
  outline: none;
}
.location option {
  display: none;
}
/*cards*/
.projects__cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}
.projects__card {
  display: block;
  position: relative;
  min-height: 350px;
}
.project__img {
  position: relative;
  display: block;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.project__img::after {
  content: '';
  display: block;
  padding-top: 65%;
}
.project__img img {
  position: absolute;
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.projects__card:hover .project__img img {
  transform: scale(1.1);
}
.project__class {
  padding: 6px 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.project__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}
.project__title {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
}
.project__address::before {
  content: ' ';
  width: 18px;
  height: 18px;
  border: 5px solid #354FD5;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.project__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.project__tag {
  padding: 6px 20px;
  background-color: rgba(51, 255, 0, 0.1);
  color: #007621;
  font-size: 12px;
  border-radius: 5px;
}
.project__tag.sale {
  background-color: rgba(255, 0, 0, 0.1);
  color: #A50000;
}
.project__issue.key {
  color: #007621;
}
.project__issue.key::before {
  content: url(../img/check.svg);
  vertical-align: middle;
  margin-right: 10px;
}
.premium__card {
  grid-column: span 2;
  position: relative;
  padding: 15px;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  min-height: 350px;
}
.premium__card::after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  z-index: -1;
}
.premium__card .project__img::after {
  content: nonne;
}
.premium__card .project__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.project__class.premium {
  background: linear-gradient(99.38deg, #FCF2B1 0%, #CBBF52 14.06%, #A98C3D 25%, #4A3D18 56.95%, #FFE679 62.45%, #A89739 70.48%, #FBF1CC 79.08%, #FFFFFF 85.64%, #9C8832 92.32%);
}
.premium__card .project__description {
  color: #fff;
  margin-bottom: 0;
}
.premium__card .project__start {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}
.premium__card .project__title {
  color: #fff;
}
/*------------------ End Our Projects ------------------*/

/*------------------ Start Request ------------------*/
.request {
  background: linear-gradient(92.43deg, #0D182A -0.45%, #192979 100%);
  position: relative;
}
.request__description {
  padding: 93px 0;
  color: #fff;
}
.request__title {
  margin-bottom: 30px;
}
.request__txt {
  margin-bottom: 60px;
}
.request__btn {
  background-color: #fff;
}
.request__img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 500px;
  max-width: 890px;
  margin-left: auto;
}
.request__img img {
  margin: 0;
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
/*------------------ End Request ------------------*/

/*------------------ Start Methods ------------------*/
.methods {
  padding-top: 150px;
}
.methods__row, .news__row, .advantages__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.methods__btn, .news__btn {
  background: #354FD5;
  color: #fff;
}
.methods__cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}
.methods__card {
  padding: 50px 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}
/* .methods__card path {
  transition: all 0.3s ease;
}
.methods__card:hover {
  background-color: #354FD5;
  color: #fff;
}
.methods__card:hover path {
  fill: #fff;
} */
.methods__img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.methods__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
  max-width: 100%;
}
.methods__title {
  margin-bottom: 20px;
  font-weight: 400;
}
.methods__txt {
  max-width: 250px;
  margin: 0 auto;
}
#btn-display {
  display: block;
}
#btn-hide, .hidden {
  display: none;
}

/*------------------ End Methods ------------------*/

/*------------------ Start News ------------------*/
.news {
  padding-top: 150px;
}
/* .news__cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
} */
.news__card {
  margin: 0 15px;
}
.news__img {
  position: relative;
  display: block;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}
.news__img::after {
  content: '';
  display: block;
  padding-top: 65%;
}
.news__img img {
  position: absolute;
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.news__card:hover img {
  transform: scale(1.1);
}
.news__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #9D9D9D;
}
.news__view::before {
  content: url(../img/view.svg);
  vertical-align: middle;
  margin-right: 10px;
}
h4.news__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}
.news__card:hover h4.news__title {
  color: rgba(0, 0, 0, 1);
}
.news__txt {
  color: #3A3A3A;
}
/*------------------ End News ------------------*/

/*------------------ Start Stock ------------------*/
.stock {
  padding: 150px 0;
}
.stock__title {
  margin-bottom: 40px;
}
.stock__cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}
.stock__card {
  grid-column: span 2;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
  height: 378px;
}
.stock__card::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.7) 100%);
}
.stock__card:hover {
  transform: translateY(-10px);
}
.stock__card-sm {
  grid-column: unset;
}
.stock__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 0;
}
.stock__footer {
  position: absolute;
  bottom: -45px;
  left: 30px;
  z-index: 1;
  color: #fff;
  transition: all 0.3s ease;
}
.stock__card:hover .stock__footer {
  bottom: 35px;
}
.stock__txt {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}
.stock__btn {
  color: #000;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  display: block;
  max-width: max-content;
}
/*------------------ End Stock ------------------*/

/*------------------ Start Advantages ------------------*/
.advantages {
  background: linear-gradient(92.43deg, #0D182A -0.45%, #192979 100%);
  overflow: hidden;
}
.advantages__container {
  position: relative;
}
.advantages__row {
  color: #fff;
  position: absolute;
  top: 35px;
  width: 100%;
}
.advantages__btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  max-width: max-content;
}
.advantages__btn path {
  fill: #fff;
}
.advantages__pagin {
  position: absolute;
  right: 15px;
  top: 180px;
  z-index: 2;
  color: #fff;
  font-size: 35px;
  font-weight: 300;
}
.advantages__sliders {
  position: relative;
  display: flex;
  align-items: stretch;
  max-width: 1200px;
  min-height: 700px;
}
h2.advantages__caption {
  color: #fff;
  font-size: 54px;
}
.advantages__img {
  height: 700px;

}
.advantages__img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.advantages__img:hover {
  cursor: grab;
}
.advantages__slider-txt, .advantages__slider-img {
  width: 50%;
  position: relative;
  z-index: 1;
}
.advantages__slider-txt {
  padding-top: 280px;
  z-index: 2;
}
.advantages__slider-img::before {
  content: 'Sen';
  font-weight: 700;
  font-size: 200px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 96%;
  top: 84px;
}
.advantages__slider-img::after {
  content: 'Sata';
  font-weight: 700;
  font-size: 200px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 96%;
  bottom: 96px;
  z-index: -1;
}
/*dots*/
.advantages .slick-dots {
  position: absolute;
  bottom: auto;
  top: 180px;
  display: block;
  width: max-content;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: start;
  background-color: transparent;
}
.advantages .slick-dots::after {
  content: ' ';
  height: 1px;
  width: 980px;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 8px;
  z-index: 1;
  margin-left: 10px;
}
.advantages .slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100%;
}
.advantages .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 100%;
}
.advantages.slick-dots li button:hover,
.advantages.slick-dots li button:focus {
  outline: none;
}
.advantages .slick-dots li button:hover:before,
.advantages .slick-dots li button:focus:before {
  opacity: 1;
}
.advantages .slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  content: '•';
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 100%;
}
.advantages .slick-dots li.slick-active button:before {
  color: #fff;
  font-size: 10px;
  width: 10px;
  height: 10px;
}
.advantages .slick-list {
  margin-bottom: 0px;
} 
/*------------------ End Advantages ------------------*/

/*------------------ Start Implemented ------------------*/
.implemented {
  padding-top: 150px;
}
.implemented__title {
  margin-bottom: 40px;
}
.implemented__card, .progress__card {
  margin: 0 15px;
}
.implemented__video, .progress__video {
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
  background-color: rgba(53, 80, 213, 0.1);
}
.implemented__video:hover iframe, .progress__video:hover iframe {
  cursor: pointer;
}
h4.imp__card__title, h4.progress__card__title {
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  font-weight: 600;
  font-size: 20px;
}
/*------------------ End Implemented ------------------*/

/*------------------ Start Gallery ------------------*/
.gallery {
  padding: 150px 0;
}
.gallery__title {
  margin-bottom: 40px;
}
.gallery__items {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap: 30px;
}
.gallery__img {
  border-radius: 10px;
  overflow: hidden;
  height: 378px;
}
.gallery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.gallery__icon img {
  object-fit: contain;
}
.gallery__img:first-child {
  grid-column: span 2;
  grid-row: span 2;
  height: 100%;
}
.gallery__img:nth-child(2) {
  grid-column: span 3;
}
.gallery__img:nth-child(3) {
  grid-column: span 2;
}
.gallery__img:nth-child(4) {
  grid-column: 8/9;
}
.gallery__img:nth-child(5) {
  grid-column: span 4;
}
.gallery__img:last-child {
  grid-column: span 2;
}
.gallery__img:hover img {
  transform: scale(1.1);
}
.gallery__icon:hover img {
  transform: scale(1);
}
/*------------------ End Gallery ------------------*/

/*2 page*/
/*project section*/
.project {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 78px;
}
.project__slider {
  flex-grow: 1;
  height: 100%;
}
.project__container {
  height: 900px;
  display: flex!important;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.project__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.project__image::after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.project__image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.project__captions {
  width: 100%;
  max-width: 1600px;
  padding: 0 16px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 100px;
  line-height: 1.4em;
}
.project__caption {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 60px;
}
.project__footer {
  color: #fff;
  background-color: #2D2D83;
  padding: 23px 0;
}
.project__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1600px;
  padding: 0 16px;
  margin: 0 auto;
}
.project__item {
  margin-right: 150px;
}
.project__item:last-child {
  margin: 0;
  flex-grow: 1;
  text-align: end;
}
/*subheader*/
.subheader {
  position: sticky;
  top: 79px;
  background-color: #fff;
  width: 100%;
  z-index: 11;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
.subheader__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.subheader__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  margin-right: 30px;
}
.subheader__item {
  margin-right: 30px;
  font-weight: 600;
  font-size: 16px;
}
.subheader__item:last-child {
  margin-right: 0;
}
.subheader__item a {
  transition: all 0.3s linear;
  color: #000;
  white-space: nowrap;
}
.subheader__item a:hover {
  color: #354FD5;
}
.subheader__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.subheader__btn {
  padding: 8px 25px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  display: block;
  transition: all 0.3s ease;
}
.subheader__btn-light {
  border: 1px solid #BCBCBC;
  margin-right: 17px;
}
.subheader__btn-dark {
  border: 1px solid #3A3A3A;
  background-color: #3A3A3A;
  color: #fff;
}
.subheader__btn:hover {
  cursor: pointer;
}
.subheader__btn-light:hover, .subheader__btn-dark:hover {
  border-color: #3A3A3A;
  color: #000;
  background-color: #fff;
}
/*About section*/
.about{
  position: relative;
  min-height: 800px;
  z-index: 0;
}
.about__gallery {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.about__img {
  height: 800px;
}
.about__img:hover {
  cursor: grab;
}
.about__img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__plate {
  background-color: #fff;
  padding: 50px 15px;
  width: max-content;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 10px 10px;
  min-width: 380px;
}
.about__accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.4s;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #9D9D9D;;
  position: relative;
}
.about__accordion span {
  font-size: 16px;
  color: #9D9D9D;
  display: block;
  margin-bottom: 15px;
}
.about__panel span {
  font-size: 14px;
  color: #9D9D9D;
  display: block;
  margin-bottom: 10px;
}
.about__panel {
  padding-top: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.about__panel.active {
  max-height: max-content;
}
.about__accordion:after {
  content: url(../img/arr-up.svg); 
  transform: rotate(180deg); 
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
}
.about__accordion.active:after {
  transform: rotate(0deg); 
}
.about__caption {
  margin-bottom: 20px;
}
.about__address {
  font-size: 14px;
}
.about__address::before {
  content: ' ';
  width: 18px;
  height: 18px;
  border: 5px solid #354FD5;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.about__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  color: #3A3A3A;
}
.about__description:last-child {
  margin-bottom: 0;
}
.about__gallery .slick_next, .about__gallery .slick_prev {
  bottom: 56px;
  right: 160px;
  top: auto;
  left: auto;
}
.about__gallery .slick_prev {
  right: 215px;
}
.about__gallery .slick-dots {
  display: none !important;
}

/*about-project section*/
.about-project {
  padding-top: 70px;
}
h4.about-project__title {
  color: #3A3A3A;
  font-weight: 600;
  margin-bottom: 15px;
}
.about-project__txt {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}


.commer, .layouts, .structure, .panorama, .progress, .location, .benefits {
  padding-top: 150px;
}

.location__card {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}
.location__map {
  min-height: 600px;
  border-radius: 10px;
  overflow: hidden;
}
.location__map img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
h4.location__caption {
  margin-bottom: 15px;
  font-weight: 600;
  color: #3A3A3A;
}
.location__txt {
  margin-bottom: 40px;
  color: #3A3A3A;
}
.location__txt:last-child {
  margin-bottom: 0px;
}
.structure__card {
  display: flex;
  flex-wrap: wrap;
}
.structure__slider {
  width: 49%;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 2%;
}
.structure .slick-list {
  margin-bottom: 0px;
}
.structure__description {
  width: 49%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.structure__item {
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 35px 15px;
  display: flex;
  flex-direction: column;
}
.structure__item:nth-child(2), .structure__item:nth-child(3) {
  grid-column: span 2;
}
.structure__slide {
  min-height: 730px;
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  padding: 35px 15px;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.structure__slide-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.structure__slide-img::after {
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.15%, rgba(0, 0, 0, 0.5) 100%);
}
.structure__slide-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.structure__slide-txt {
  font-weight: 400;
  font-size: 24px;
  width: 60%;
}
.structure__item-up {
  max-width: 250px;
  margin-bottom: 20px;
}
.structure__item-up .caption {
  margin-bottom: 15px;
}
.structure__item-down {
  margin-top: auto;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  color: #9D9D9D;
}
.structure__subcaption {
  font-weight: 400;
  font-size: 14px;
  color: #9D9D9D;
}

.structure .slick_next, .structure .slick_prev {
  bottom: 35px;
  right: 15px;
  top: auto;
  left: auto;
}
.structure .slick_prev {
  right: 70px;
}
.structure .slick_next:hover circle, .structure .slick_prev:hover circle {
  fill: #fff;
}
.structure .slick_next:hover path, .structure .slick_prev:hover path {
  stroke: #000;
}

.benefits__container {
  position: relative;
}
.benefits__slide {
  position: relative;
  min-height: 500px;
  display: flex!important;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 15px;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
}
.benefits__slide-caption {
  flex-grow: 1;
}
.benefits__slide-txt {
  font-size: 14px;
}
.benefits__slide-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.benefits__slide-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.benefits__slide-img::after {
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 28.96%, rgba(0, 0, 0, 0) 71.15%, rgba(0, 0, 0, 0.6) 100%);
}
.benefits .slick-dots {
  width: 80%;
}
.benefits .slick_next, .benefits .slick_prev {
  top: auto;
  left: auto;
  bottom: -40px;
  right: 15px;
}
.benefits .slick_prev {
  right: 70px;
}
.benefits__number {
  position: absolute;
  right: 150px;
  bottom: -20px;
  padding: 8px 25px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 100px;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
}



.layouts__tabs__caption {
  display: flex;
  margin-bottom: 30px;
}
.layouts__tabs__caption li {
  border: 1px solid #BCBCBC;
  padding: 8px 25px;
  border-radius: 50px;
  margin-right: 20px;
  transition: all 0.3s ease;
}
.layouts__tabs__caption li:hover {
  cursor: pointer;
  border: 1px solid #3A3A3A;
}
.layouts__tabs__caption li:last-child {
  margin-right: 0px;
}
.layouts__tabs__caption li.active {
  border: 1px solid #354FD5;
  background-color: #354FD5;
  color: #fff;
}
.layouts__tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.layouts__tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}
.layouts__rooms__caption {
  display: flex;
  max-width: max-content;
  overflow-x: auto;
}
.layouts__rooms__caption li {
  padding: 8px 25px;
  background: #F0F1F8;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0px 0px;
  transition: all 0.3s ease;
  min-width: 160px;
}
.layouts__rooms__caption li.active {
  background: #fff;
}
.layouts__tabs__rooms {
  background-color: #fff;
  padding: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0px 10px 10px 10px;
}
.layouts__tabs__room {
  display: none;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}
.layouts__tabs__room.active {
  display: grid;
}
.layouts__rooms__caption li:hover {
  cursor: pointer;
  color: #354FD5;
}
.tabs__room__img {
  height: 320px;
}
.tabs__room__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tabs__room__img:hover {
  cursor: zoom-in;
}






.panorama__container {
  position: relative;
  min-height: 400px;
  color: #fff;
  padding: 50px 0;
}
.panorama__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.panorama__img::after {
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}
.panorama__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.panorama__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 300px;
  max-width: 1600px;
  padding: 0 16px;
  margin: 0 auto;
}
.panorama__view {
  display: flex;
  align-items: center;
}
.panorama__view svg {
  margin-right: 20px;
}
.panorama__view span {
  font-size: 16px;
  max-width: 130px;
  display: block;
}
.panorama__btn {
  color: #000;
  display: block;
}
.commer__container {
  background: linear-gradient(92.43deg, #0D182A -0.45%, #192979 100%);
  padding: 40px 70px;
  border-radius: 10px;
  color: #fff;
}
.commer__container span {
  display: block;
  margin-bottom: 30px;
}
.commer__title {
  margin-bottom: 60px;
}
.promo {
  padding: 150px 0;
}
.promo__title, .layouts__title, .structure__title, .panorama__title,
.progress__title, .location__title, .benefits__title {
  margin-bottom: 40px;
}

/*popup*/
.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
}
.popup__container {
  padding: 40px 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
}
.popup__title span {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.popup__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #354FD5;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1em;
}
.popup__form input, .popup__btn {
  display: block;
  width: 100%;
}
.popup__btn {
  background: #354FD5;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px; 
  color: #fff;
  border: 1px solid #354FD5;
}
.popup__btn svg {
  right: 50px;
}
.popup__form input {
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 50px;
  color: #000;
  font-weight: 300;
  font-size: 16px;
  font-family: 'OpenSans';
  margin-bottom: 20px;
  padding: 14px 20px;
}
.popup__form input::placeholder {
  color: #BDBDBD;
  font-weight: 300;
  font-size: 16px;
  font-family: 'OpenSans';
}
.popup__form input:focus {
  outline: none;
  border-color: #000;
}
.popup__check {
  margin-bottom: 20px;  
  display: flex;
  align-items: center;
}
#check {
  width: 16px;
  height: 16px;
  border-color: #000;
  margin: 0;
  margin-right: 10px;
}
.popup__check label {
  font-size: 12px;
  line-height: 1em;
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border: none;
  padding: 0;
}
.popup-close::before {
  content: url('../img/close.svg');
  width: 24px;
  height: 24px;
}
.popup-close:hover {
  cursor: pointer;
}
/*------------------ Start Responsive ------------------*/
@media (max-width: 1650px) {
  .header__logo {
    margin-right: 40px;
  }
  .header__elem {
    margin-left: 40px;
    gap: 20px;
  }
  .js-card-slider {
    width: calc(100% - 100px);
    margin: 0 auto;
  }
  .js-card-slider .slick_prev {
    left: -40px;
  }
  .js-card-slider .slick_next {
    right: -40px;
  }
  .advantages__slider-img::before {
    content: 'Sensata';
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    right: 98%;
    top: 84px;
  }
  .advantages__slider-img::after {
    content: none;
  }
  .advantages__row {
    max-width: 48%;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
  }
  .advantages__sliders {
    max-width: unset;
  }
  .subheader__item {
    margin-right: 20px;
  }
}
@media (max-width: 1450px) {
  .header__elem_tel {
    font-size: 16px;
  }
  .menu_item {
    font-size: 14px;
  }
  .header__logo {
    margin-right: 30px;
  }
  .header__elem {
    margin-left: 30px;
  }
  h4.methods__title {
    font-size: 20px;
  }
  .advantages__sliders {
    margin-right: -16px;
  }
  .advantages__slider-img::before {
    top: 120px;
  }
  .subheader__btn, .subheader__item {
    font-size: 14px;
  }
  .project__item h4 {
    font-size: 20px;
  }
  .project__item {
    margin-right: 60px;
  }
  .benefits .slick-dots {
    width: 70%;
  }
  .request__img {
    height: 400px;
  }
  .project__container {
    height: 600px;
  }
  .project {
    min-height: unset;
  }
}
@media (max-width: 1260px) {
  .header__elem_time {
    display: none;
  }
  .projects__cards, .methods__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }
  .layouts__tabs__room {
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
  .request__img {
    position: relative;
    text-align: end;
    margin-top: -150px;
    right: -16px;
  }
  .request__description {
    padding: 0;
    padding-top: 90px;
    max-width: 50%;
  }
  .projects__content {
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
  }
  .filter-btn {
    grid-column: unset;
  }
  .gallery__items {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
  }
  .gallery__img {
    height: 250px;
  }
  .gallery__img:first-child {
    grid-column: span 2;
    grid-row: unset;
    height: 250px;
  }
  .gallery__img:nth-child(2) {
    grid-column: span 3;
  }
  .gallery__img:nth-child(3) {
    grid-row: 2/3;
    grid-column: span 4;
  }
  .gallery__img:nth-child(4) {
    grid-column: 5/6;
  }
  .gallery__img:nth-child(5) {
    grid-row: 3/4;
    grid-column: span 2;
  }
  .gallery__img:last-child {
    grid-row: 3/4;
    grid-column: span 3;
  }
  .our-projects, .stock, .gallery {
    padding: 100px 0;
  }
  .methods, .news {
    padding-top: 100px;
  }
  .advantages__title {
    margin-bottom: 20px;
  }
  .about{
    min-height: 600px;
  }
  .about__img {
    height: 600px;
  }
  .about__plate {
    padding: 25px 15px;
  }
  .structure__card {
    display: block;
  }
  .structure__slider {
    width: 100%;
    margin-bottom: 40px;
  }
  .structure__description {
    width: 100%;
  }
  .structure__slide {
    min-height: 500px;
  }
  .project__caption {
    font-size: 42px;
  }
  .request__description {
    max-width: unset;
  }
  .subheader__container {
    display: block;
  }
  .subheader__list {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .subheader__buttons {
    justify-content: flex-start;
  }
}
@media (max-width: 1100px) {
  .header__mobile-menu {
    display: block;
    width: 30px;
  }
  .header__elem_tel::before {
    content: url(../img/phone-mb.svg);
    width: 24px;
    height: 24px;
    padding: 4px;
    line-height: 1;
  }
  .header__elem_tel {
    padding-left: 34px;
    font-weight: 400;
  }
  .header__elem {
    margin-left: 0;
    margin-right: 20px;
    flex-grow: 1;
    text-align: end;
    justify-content: flex-end;
  }
  .nav_icon {
    width: 30px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .nav_icon.active {
    width: 22px;
  }
  .nav_icon span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #000;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: 0.25s ease-in-out;
    transform-origin: left center;
  }
  .nav_icon span:nth-child(1) {
    top: 0px;
  }
  .nav_icon span:nth-child(2) {
    top: 7px;
  }
  .nav_icon span:nth-child(3) {
    top: 14px;
  }
  .header__nav {
    position: absolute;
    left: -100vw;
    top: 79px;
    background-color: #fff;
    padding: 40px;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.4s linear;
  }
  .header__nav.opened {
    left: 0;
  }
  .header_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .nav_icon.active span:nth-of-type(2) {
    display: none;
  }
  .nav_icon.active span:nth-of-type(1) {
      transform: rotate(40deg); 
  }
  .nav_icon.active span:nth-of-type(3) {
      transform: rotate(-40deg);
  }
  .slider__item {
    height: 500px;
  }
  .request__img {
    margin-top: -100px;
  }
  .advantages .slick-dots {
    width: 85%;
  }
  .advantages .slick-dots::after {
    width: 100%;
  }
  .advantages__pagin {
    right: auto;
    left: 50%;
  }
}
@media (max-width: 980px) {
  .project__caption {
    font-size: 38px;
    margin-bottom: 15px;
  }
  h2.caption {
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 400;
  }
  h4.caption {
    font-size: 22px;
    line-height: 1.2em;
    font-weight: 400;
  }
  h4.advantages__title {
    font-size: 28px;
  }
  .projects__cards, .methods__cards, .stock__cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .layouts__tabs__room {
    grid-template-columns: repeat(2,1fr);
  }
  .stock__card {
    grid-column: unset;
    height: 250px;
  }
  .stock__card:hover {
    transform: translateY(0px);
  }
  .request__img {
    height: 300px;
    max-width: 530px;
  }
  .projects__content {
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .js-card-slider {
    width: 100%;
    margin: 0;
  }
  .slick__pagin .slick-dots li.slick-active {
    width: 80px;
  }
  .full__slider .slick-dots li, .full__slider .slick-dots li button, .full__slider .slick-dots li.slick-active {
    width: 10px;
    height: 10px;
  }
  .full__slider .slick-dots li button:before {
    font-size: 11px;
  }
  .full__slider .slick-dots li.slick-active button:before {
    font-size: 12px;
  }
  .full__slider .slick-dots {
    bottom: 40px;
  }
  .full__slider .slick_next {
    right: 10px;
  }
  .full__slider .slick_prev {
    left: 10px;
  }
  .our-projects, .stock, .gallery, .advantages {
    padding: 80px 0;
  }
  .request__description, .methods, .news, .implemented, .about, .layouts, 
  .location, .benefits, .structure, .panorama, .progress, .commer, .promo  {
    padding-top: 80px;
  }
  .advantages {
    position: relative;
  }
  .advantages__container {
    position: static;
  }
  .advantages .slick-dots li.slick-active {
    width: 10px;
  }
  .advantages__sliders {
    flex-direction: column;
    margin: 0;
    min-height: unset;
    position: static;
  }
  .advantages__slider-txt, .advantages__slider-img {
    width: 100%;
  }
  .advantages__row {
    width: 100%;
    max-width: unset;
    position: relative;
    z-index: 2;
  }
  .advantages__title {
    margin-bottom: 0px;
  }
  .advantages__slider-img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .advantages__img {
    height: 500px;
  }
  .advantages__img::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: absolute;
    left: 0;
    top: 0;
  }
  .advantages__slider-txt {
    padding-top: 120px;
  }
  .advantages .slick-dots {
    top: 40px;
  }
  .advantages__pagin {
    top: 50%;
    right: 15px;
    left: auto;
  }
  .advantages .slick-dots {
    width: 75%;
  }
  .location__card, .about-project__txt {
    grid-template-columns: 1fr;
  }
  .location__map {
    min-height: unset;
    max-height: 300px;
  }
  .project__items {
    justify-content: space-between;
  }
  .project__item:last-child {
    width: 100%;
    text-align: start;
    margin-top: 15px;
  }
  .project__item {
    margin-right: 0px;
  }
  .project__item:first-child {
    margin-right: 10px;
  }
  .about__plate {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 10px;
    min-width: unset;
  }
  .about__gallery {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  .commer__container {
    padding: 40px;
  }
  .about__gallery .slick_prev {
    right: 70px;
    left: auto;
  }
  .about__gallery .slick_next, .about__gallery .slick_prev {
    bottom: 20px;
  }
  .project__captions {
    margin-bottom: 70px;
  }
  .benefits .slick-dots {
    width: 60%;
  }
  .methods__card {
    padding: 30px 10px;
  }
  .project__container {
    height: 500px;
  }
  .benefits__slide {
    min-height: 400px;
  }
}
@media (max-width: 767px) {
  .project__captions h2.caption {
    font-size: 22px;
  }
  .slider__item {
    height: 400px;
  }
  .projects__captions {
    overflow-x: auto;
  }
  .gallery__items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .gallery__img:nth-child(n) {
    grid-row: unset;
    grid-column: unset;
    height: 200px;
  }
  .gallery__icon {
    display: none;
  }
  .gallery__img:nth-child(3) {
    grid-column: span 2;
  }
  .projects__row {
    display: flex;
    flex-direction: column;
  }
  .projects__title, .news__title, .methods__title {
    margin-bottom: 20px;
  }
  .our-projects, .stock, .gallery, .advantages {
    padding: 50px 0;
  }
  .request__description, .methods, .news, .implemented, .about, .layouts, 
  .location, .benefits, .structure, .panorama, .progress, .commer, .promo {
    padding-top: 50px;
  }
  h2.caption {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 400;
  }
  h4.caption {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
  }
  .advantages .slick-dots {
    width: 80%;
  }
  h4.advantages__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .advantages__row {
    display: block;
  }
  .advantages__pagin {
    font-size: 25px;
    top: 57%;
  }
  .benefits .slick-dots {
    width: 75%;
  }
  .benefits__number {
    display: none;
  }
  .subheader__list {
    padding: 8px 0;
  }
  .about__img {
    height: 400px;
  }
  .subheader {
    position: static;
  }
  .commer__container{
    padding: 20px;
  }
  .stock__footer {
    left: 15px;
  }
  .structure__slide {
    min-height: 400px;
  }
  .structure__slide-txt {
    font-size: 20px;
  }
  .popup__title {
    font-size: 20px;
  }
  .popup__container {
    padding: 20px;
  }
}
@media (max-width: 568px) {
  .projects__content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .layouts__tabs__room {
    grid-template-columns: 1fr;
  }
  .filter-btn {
    margin: auto;
  }
  .request__img {
    right: 0;
    margin: 0 -16px;
  }
  .header__nav {
    height: 100vh;
  }
  .projects__cards, .methods__cards, .stock__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .projects__card, .stock__card {
    margin: 0 10px;
    width: 85vw;
  }
  .premium__card {
    grid-column: unset;
  }
  .advantages .slick-dots {
    width: 65%;
  }
  .structure__description {
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .structure__item-up h4.caption {
    font-size: 16px;
  }
  .structure__item-down {
    font-size: 30px;
  }
  .structure__item:nth-child(2), .structure__item:nth-child(3) {
    grid-column: unset;
  }
  .structure .slick_next, .structure .slick_prev {
    display: none !important;
  }
  .structure__slide-txt, .benefits .slick-dots {
    width: 100%;
  }
  .project__img::after {
    padding-top: 50%;
  }
  .methods__card {
    padding: 20px 10px;
  }
  .methods__img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .methods__img svg {
    width: 80px;
    height: 80px;
  }
  .subheader__buttons {
    display: block;
  }
  .subheader__btn {
    max-width: 100%;
    text-align: center;
  }
  .subheader__btn-light {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .advantages__pagin {
    top: 54%;
  }
  .slick__pagin .slick-list {
    margin-bottom: 30px;
  }
  .methods__txt {
    font-size: 14px;
    max-width: unset;
  }
  .news__title {
    margin-bottom: 0;
  }
  .methods__title {
    margin-bottom: 10px;
  }
  .methods__container, .news__container {
    position: relative;
    padding-bottom: 80px;
  }
  .methods__btn, .news__btn  {
    position: absolute;
    bottom: 0px;
  }
  .stock__txt {
    font-size: 18px;
  }
  .stock__btn {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .btn {
    width: 100%;
    text-align: center;
  }
  .advantages__btn {
    max-width: unset;
  }
  .header__elem {
    display: none;
  }
  .request__img {
    height: 210px;
  }
  .tabs__room__img {
    height: 250px;
  }
  .advantages__pagin {
    font-size: 20px;
    top: 56%;
  }
}
/*------------------ End Responsive ------------------*/