/*----- Start fonts -----*/
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/poppins-v20-latin-300.ttf') format('truetype');
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/poppins-v20-latin-regular.ttf') format('truetype');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/poppins-v20-latin-500.ttf') format('truetype');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/poppins-v20-latin-600.ttf') format('truetype');
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/poppins-v20-latin-700.ttf') format('truetype');
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/montserrat-v25-latin-300.ttf') format('truetype');
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype');
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v25-latin-500.ttf') format('truetype');
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/montserrat-v25-latin-600.ttf') format('truetype');
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v25-latin-700.ttf') format('truetype');
}
/*----- End fonts -----*/

/*----- Start standard-----*/
html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol,
p {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.8em;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul[class],
ol[class] {
  list-style: none;
}
ol, ul {
  list-style-position: inside;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
article>*+* {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}
/*----- End standard -----*/

/*----- Start container -----*/
.container {
  max-width: 1802px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  height: 100%;
}
/*----- End container -----*/

/*----- Start formLoader -----*/
.form_loader {
  position: fixed;
  display: none;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.form_loader_block {
  position: absolute;
  width: 350px;
  max-width: 90%;
  left: 50%;
  top: 45%;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.form_loader_animate {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
}
.form_loader_animate:after {
  content: "";
  display: block;
  width: 85%;
  height: 85%;
  /*margin: 8px;*/
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #CEB597 transparent #CEB597 transparent;
  animation: loader-animate 1.2s linear infinite;
}
.form_loader_text {
  font-size: 20px;
  text-align: center;
}

@keyframes loader-animate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/*----- End formLoader -----*/

/*----- Start alert -----*/
.box-size {
  box-sizing: border-box;
}
.alert--fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  z-index: 999;
}
.alert--error,
.alert--warning,
.alert--active {
  display: flex;
}
.alert--width {
  width: 400px;
}
.alert--img__item svg {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.alert--img__item {
  display: none;
  flex-shrink: 0;
}
.alert--active .active {
  display: block;
}
.alert--warning .warning {
  display: block;
}
.alert--error .error {
  display: block;
}
.alert--content {
  position: relative;
  z-index: 12;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  color: #333333;
  margin-bottom: 10%;
}
.alert--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 11;
  top: 0px;
  left: 0px;
}
.alert-text {
  margin-top: 15px;
  text-align: center;
}
.alert--active .active path {
  fill: #4ad395;
}
.alert--warning .warning path {
  fill: #e5e75d;
}
.alert--error .error path {
  fill: #f81919;
}
.alert--title {
  font-size: 28px;
  font-weight: 500;
}
.alert--subtitle {
  font-weight: 400;
  font-size: 20px;
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid #ccbbbb;
}
.alert--x {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 8px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.alert--x svg {
  width: 100%;
  height: 100%;
}
.alert--x svg path {
  fill: #968787;
  transition: all 0.3s ease;
}
.alert--x:hover path {
  fill: black;
}

@media (max-width:1200px) {
  .alert--width {
      width: 370px;
  }
  .alert--content {
      padding: 25px;
  }
  .alert--img__item svg {
      width: 75px;
      height: 75px;
  }
  .alert-text {
      margin-top: 10px;
  }
  .alert--title {
      font-size: 24px;
  }
  .alert--subtitle {
      font-size: 18px;
  }
}

@media (max-width:500px) {
  .alert--content {
      width: 92%;
  }
  .alert--img__item svg {
      width: 60px;
      height: 60px;
  }
  .alert--title {
      font-size: 22px;
  }
}
/*----- End alert -----*/

/*----- Start Header -----*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
.header.scroll {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(206, 181, 151, 0.1) 0px 8px 24px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  padding: 50px 0;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.header__logo {
  display: block;
  width: 235px;
  height: 45px;
  margin-right: 50px;
}
.header__logo img {
  object-fit: contain;
}
.nav__menu {
  display: flex;
}
.nav__item {
  margin-right: 80px;
}
.nav__item:last-child {
  margin-right: 0px;
}
.nav__link, .header__phone {
  transition: all 0.3s ease;
}
.nav__link:hover, .header__phone:hover {
  color: #CEB597;
}
.header__icon {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: none;
}
.header__icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #CEB597;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  transform-origin: left center;
}
#hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
} 
#hamburger span {
  width: 30px;
  height: 3px;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 8px;
}
#hamburger span:last-child {
  margin-bottom: 0;
}
#hamburger span:nth-child(1) {
  transition-delay: .5s;
}
#hamburger span:nth-child(2) {
  transition-delay: .625s;
}
#hamburger span:nth-child(3) {
  transition-delay: .75s;
}
#cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  pointer-events: none;
}
#cross span:nth-child(1) {
  height: 0%;
  width: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition-delay: 0s;
}
#cross span:nth-child(2) {
  width: 0%;
  height: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition-delay: .25s;
}
.header__icon.active #hamburger span {
  width: 0%;
}
.header__icon.active #hamburger span:nth-child(1) {
  transition-delay: 0s;
}
.header__icon.active #hamburger span:nth-child(2) {
  transition-delay: .125s;
}
.header__icon.active #hamburger span:nth-child(3) {
  transition-delay: .25s;
}
.header__icon.active #cross span:nth-child(1) {
  height: 100%;
  transition-delay: .625s;
}
.header__icon.active #cross span:nth-child(2) {
  width: 100%;
  transition-delay: .375s;
}
/*----- End Header -----*/

/*----- Start text -----*/
.caption {
  font-family: 'Poppins';
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
}
h1{
  font-size: 60px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-weight: 500;
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

/*----- End text -----*/

/*----- Start button -----*/
.button {
  display: block;
  width: 100%;
  max-width: max-content;
  padding: 22px 39px;
  background-color: #CEB597;
  border: none;
  line-height: 1;
  transition: all 0.3s linear;
}
.button:hover {
  background-color: #E8CCAA;
  cursor: pointer;
}
/*----- End button -----*/

/*----- Start wares -----*/
.wares {
  background: url(../img/Lines.svg) center no-repeat;
  background-size: contain;
}
.wares__stone {
  display: flex;
  min-height: 950px;
  padding-top: 150px;
}
.stone__img_left {
  width: 224px;
}
.stone_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 917px;
  padding: 0 141px;
}
.stone__img_right {
  width: 772px;
}
.stone__txt {
  margin-bottom: 30px;
}
.wares__title {
  margin-bottom: 30px;
}
.wares__limestone {
  display: flex;
  max-width: 60%;
  margin-left: auto;
}
.limestone__caption {
  margin-bottom: 20px;
}
.limestone__img {
  width: 362px;
  height: 362px;
  margin-right: 136px;
}
.wares__description {
  max-width: 420px;
  margin: auto 0;
}
.wares__numbers {
  display: flex;
  justify-content: space-between;
  padding: 125px 0;
}
.wares__number {
  max-width: 150px;
  text-align: center;
}
.wares__number span {
  display: block;
  font-weight: 600;
  font-size: 60px;
  line-height: 140%;
  text-transform: uppercase;
}
/*----- End wares -----*/

/*----- Start company -----*/
.company {
  padding-top: 200px;
  background: url(../img/back-1.png);
  background-size: cover;
}
.company__container {
  padding: 125px;
  background-color: #fff;
}
.company__title {
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 35px;
}
.company__title::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  display: block;
  width: 94px;
  height: 2px;
  background-color: #CEB597;
}
.company__txt {
  margin-bottom: 35px;
}
/*----- End company -----*/

/*----- Start advantage -----*/
.advantage {
  padding: 160px 0;
}
.advantage__title {
  text-align: center;
  margin-bottom: 108px;
}
.advantage__cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 35px;
  column-gap: 250px;
  margin: 0 auto;
}
.advantage__card {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 20px;
  align-items: center;
  width: max-content;
}
.advantage__img {
  width: 70px;
  height: 70px;
}
.advantage__img img {
  object-fit: contain;
}
.advantage__caption {
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.8em;
}
/*----- End advantage -----*/

/*----- Start gallery -----*/
.gallery__slide img {
  height: 480px;
}
.gallery__slide:hover {
  cursor: zoom-in;
}
/*----- End gallery -----*/

/*----- Start consultation -----*/
.consultation {
  padding: 80px 0;
  background: url(../img/back-2.png) center no-repeat;
  background-size: cover;
}
.consultation__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.consultation__title {
  width: 430px;
  color: #fff;
}
.consultation__form {
  display: flex;
}
.consultation__form input {
  display: block;
  width: 350px;
  margin-right: 108px;
  background-color: transparent;
  border: none;
  border-radius: none;
  border-bottom: .5px solid #CEB597;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}
.consultation__form input::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}
.consultation__form input:focus {
  outline: none;
}
/*----- End consultation -----*/

/*----- Start footer -----*/
.footer {
  padding: 80px 0;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
}
.footer__column {
  width: 260px;
  margin-right: 197px;
}
.footer__column:first-child {
  flex-grow: 1;
}
.footer__column:last-child {
  margin-right: 0;
}
.footer__column a {
  transition: all 0.3s linear;
}
.footer__column a:hover {
  color: #CEB597;
}
.footer__logo {
  display: block;
  width: 300px;
  margin-bottom: 30px;
}
.footer__logo img {
  object-fit: contain;
}
.footer__title {
  margin-bottom: 30px;
}
/*----- End footer -----*/

/*slick*/
.slick_next, .slick_prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  padding: 0;
  z-index: 1;
}
.slick_prev {
  left: 75px;
}
.slick_next {
  right: 75px;
}
.slick_next:hover path, .slick_prev:hover path {
  stroke: #CEB597;
}
.slick-dotted.slick-slider {
  margin-bottom: 60px;
}
.slick-dots {
  bottom: -30px;
  border-radius: 30px;
  /* background-color: #000; */
  height: 10px;
  display: flex;
  justify-content: center;
}
.slick-dots li button {
  background: #eee;
}
.slick-dots li.slick-active button {
  background: #CEB597;
}

/*popup*/
.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
}
.popup__container {
  padding: 28px 23px;
  background: rgb(255, 255, 255);
  max-width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 364px;
}
.popup-close {
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  background-color: transparent;
}
.popup-close:hover {
  cursor: pointer;
}
.popup__title {
  text-align: center;
  text-transform: unset;
  margin-bottom: 23px;
}
.popup__form {
  display: grid;
  gap: 23px;
}
.popup__form input {
  padding: 15px;
  border: 1px solid #E6E6E6;
  border-radius: none;
  width: 100%;
}
.popup__form input:focus {
  outline: none;
}
.popup .form__btn {
  width: 100%;
  max-width: unset;
}

/*phone mobile*/
.sticky__phone {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #CEB597;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  float: right;
  z-index: 99;
  display: none;
}
.sticky__phone::after,
.sticky__phone::before {
  content: '';
  position: absolute;
  border: 2px solid #CEB597;
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
  z-index: 0;
}
.sticky__phone::after {
  animation-delay: 1.25s;
}
.phone__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  line-height: 1;
  z-index: 2;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/*----- Start Responsive -----*/
@media (max-width: 1820px) {
  .advantage__cards {
    column-gap: 150px;
  }
}
@media (max-width: 1640px) {
  .container {
      max-width: 1540px;
  }
  h1 {
    font-size: 50px;
  }
  .advantage__cards {
    column-gap: 50px;
  }
}
@media (max-width: 1440px) {
  .container {
      max-width: 1360px;
  }
  h1{
    font-size: 44px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .stone_center {
    padding: 0 80px;
  }
  .stone__img_right {
    width: 710px;
  }
  .wares__limestone {
    max-width: 63%;
  }
  .wares__number span {
    font-size: 44px;
  }
  .limestone__img {
    margin-right: 60px;
  }
  .company__container {
    padding: 80px;
  }
  .consultation__form input {
    width: 250px;
    margin-right: 80px;
  }
  .advantage__title {
    margin-bottom: 80px;
  }
  .advantage__cards {
    column-gap: 30px;
    row-gap: 30px;
  }
  .advantage__card {
    width: unset;
  }
  .slick_prev {
    left: 40px;
  }
  .slick_next {
    right: 40px;
  }
  .footer__container {
    justify-content: space-between;
  }
  .footer__column {
    width: unset;
    margin-right: 80px;
  }
  .footer__column:first-child {
    flex-grow: unset;
  }
}
@media (max-width: 1260px) {
  .container {
      max-width: 1100px;
  }
  .header__container {
    min-height: 100px;
    padding: 30px 0px;
    font-size: 18px;
  }
  .nav__item {
    margin-right: 30px;
  }
  .wares__stone {
    min-height: 800px;
    padding-top: 100px;
  }
  .wares__numbers, .advantage {
    padding: 100px 0;
  }
  .wares__limestone {
    max-width: 90%;
  }
  .consultation__container {
    display: block;
  }
  .consultation__title  {
    width: unset;
    margin-bottom: 30px;
  }
  .consultation__form input {
    margin-right: 60px;
  }
  .company__container {
    padding: 60px;
  }
  .advantage__title {
    margin-bottom: 60px;
  }
  .advantage__caption {
    font-size: 20px;
  }
  .advantage__cards {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 1100px) {
  .container {
      max-width: 980px;
  }
  body {
    font-size: 18px;
  }
  h1{
    font-size: 32px;
  }
  .footer__column {
    width: unset;
    margin-right: 40px;
  }
  .wares__number span {
    font-size: 32px;
  }
}
@media (max-width: 980px) {
  .container {
      width: 100%;
      max-width: unset;
  }
  .header__nav {
    position: absolute;
    right: -100vw;
    top: 100px;
    min-width: 40%;
    padding: 40px;
    text-align: end;
    background-color: #fff;
    border-top: 1px solid #CEB597;
    box-shadow: rgb(206 181 151 / 10%) 0px 8px 24px;
    transition: all 1s ease;
  }
  .header__nav.opened {
    right: 0;
  }
  .nav__menu {
    display: block;
  }
  .nav__item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .nav__item:last-child {
    margin-bottom: 0px;
  }
  .header__icon {
    display: block;
  }
  .header__phone {
    flex-grow: 1;
    text-align: end;
    margin-right: 30px;
  }
  .wares {
    background: unset;
  }
  .company {
    padding-top: 100px;
  }
  .wares__numbers, .advantage {
    padding: 80px 0;
  }
  .company__container {
    padding: 40px;
  }
  .wares__stone {
    min-height: 600px;
  }
  .stone__img_left {
    display: none;
  }
  .stone_center {
    width: 50%;
    padding: 40px;
    padding-left: 16px;
  } 
  .stone__img_right {
    width: 50%;
  }
  .wares__limestone {
    max-width: unset;
  }
  .limestone__img {
    width: 50%;
    height: 362px;
    margin-right: 0;
  }
  .wares__description {
    width: 50%;
    padding-left: 40px;
  }
  .advantage__title {
    margin-bottom: 40px;
  }
  .advantage__caption {
    font-size: 18px;
  }
  .gallery__slide img {
    height: 380px;
  }
  .consultation__form input {
    margin-right: 60px;
    width: 40%;
    margin-bottom: 40px;
  }
  .consultation__form {
    flex-wrap: wrap;
  }
  .consultation__form input {
    font-size: 18px;
  }
  .consultation__form input::placeholder {
    font-size: 18px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__column:first-child {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  .header__logo {
    width: 135px;
    height: 25px;
  }
  .nav__menu {
    font-size: 16px;
  }
  .wares__numbers, .advantage, .footer, .consultation {
    padding: 40px 0;
  }
  .company {
    padding-top: 40px;
  }
  .wares__stone, .wares__limestone {
    display: grid;
    width: 100%;
    margin-bottom: 40px;
  }
  .stone__img_right {
    height: 350px;
    width: 100%;
    margin-bottom: 30px;
  }
  .stone_center {
    order: 1;
    padding: 0 16px;
    display: block;
    width: unset;
  }
  .limestone__img {
    height: 150px;
    width: 100%;
    margin-bottom: 30px;
  }
  .wares__description {
    width: 80%;
    max-width: unset;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    padding: 0 16px;
  }
  .wares__numbers {
    flex-wrap: wrap;
    padding: 0 16px;
    justify-content: center;
    margin-bottom: 40px;
  }
  .wares__number {
    width: 150px;
  }
  .wares__number span {
    font-size: 24px;
  }
  .advantage__cards {
    grid-template-columns: 1fr;
  }
  .advantage__card {
    grid-template-columns: 40px 1fr;
  }
  .advantage__img {
    width: 40px;
    height: 40px;
  }
  .consultation__form input {
    margin-right: 0px;
    width: 80%;
    margin-bottom: 30px;
  }
  .slick_next {
    right: 16px;
  }
  .slick_prev {
    left: 16px;
  }
  .wares .container {
    padding: 0;
  }
  .popup__form input {
    padding: 10px;
  }
  .footer__logo {
    width: 200px;
  }
}
@media (max-width: 568px) {
  .header__phone {
    display: none;
  }
  .sticky__phone {
    display: block;
  }
  .button {
    padding: 16px;
  }
  .wares__number {
    font-size: 14px;
  }
  .advantage__caption {
    font-size: 16px;
  }
  .company__container {
    padding: 25px;
  }
  .company__title {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .consultation__form input {
    font-size: 16px;
  }
  .consultation__form input::placeholder {
    font-size: 16px;
  }
  .consultation__form input {
    width: 100%;
  }
  .footer__container {
    display: grid;
    gap: 30px;
  }
  .footer__column:first-child, .footer__column {
    margin: 0;
  }
}
@media (max-width: 420px) {
  .wares__number {
    width: 110px;
  }
  .wares__number {
    font-size: 12px;
  }
  .popup__container {
    min-width: 300px;
  }
  .popup-close {
    right: 0;
  }
}