/*scroll*/
.header__container::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  background: #2A2A32;
  width: 4px;
  height: 4px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #121C28;
  border-radius: 5px;
}

/*header*/
.page__header {
  min-width: 320px;
  width: 18%;
  background: #1A2738 center no-repeat;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.25);
  height: inherit;
  z-index: 11;
}
.page__container {
  width: 82%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 100%;
  position: relative;
}
.header__close {
  display: none;
}
.header__container {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.header__logo {
  display: block;
  margin: 30px 50px;
  margin-bottom: 60px;
}
.logo {
  width: 90px;
  height: 55px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__menu {
  flex-grow: 1;
}
.header__menu-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.header__menu-item {
  overflow: hidden;
  position: relative;
}
.item__caption, .item {
  display: block;
  padding: 12px;
  padding-left: 50px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
.item__content {
  background-color: #172331;
  padding: 0;
  padding-left: 80px;
  opacity: 0;
  font-weight: 400;
  font-size: 14px;
  transition: all 1s ease;
}
.header__menu-item.open .item__caption {
  background-color: #121C28;
  color: rgba(255, 255, 255, 0.5);
}
.header__menu-item.open path {
  fill: rgba(255, 255, 255, 0.5);
}
.header__menu-item.open .item__content {
  opacity: 1;
  padding: 10px;
  padding-left: 80px;
}
.header__menu-item.active .item__caption, .header__menu-item.active .item {
  background-color: rgba(64, 255, 181, 0.3);
  color: rgba(64, 255, 181, 1);
  position: relative;
}
.header__menu-item.active .item__caption::after, .header__menu-item.active .item::after {
  content: ' ';
  height: 100%;
  width: 2px;
  background-color: #40FFB5;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.header__menu-item.active path {
  fill: rgba(64, 255, 181, 1);
}
.header__menu-item svg {
  margin-right: 15px;
}
.content-list {
  height: 0;
}
.content-list li {
  transition: all 0.3s ease;
  margin-bottom: 14px;
}
.header__menu-item.open .content-list {
  height: 100%;
}
.content-list li:hover {
  color: #40FFB5;
  cursor: pointer;
}
.content-list li:last-child {
  margin-bottom: 0px;
}
.item-icon::after {
  content: url(../img/arr-down.svg);
  margin-left: 15px;
}
.header__menu-item.active .item-icon::after {
  content: url(../img/arr-up.svg);
}
.header__info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
}
.tel svg, .mail svg {
  margin-right: 15px;
}
.header__title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
}
.header-tel {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.header-mail {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.header__social-icon svg {
  margin-right: 15px;
  transition: all 0.3s ease;
}
.header__social-icon:last-child {
  margin-right: 15px;
}
.header__social-icon:hover svg {
  transform: scale(1.2);
}
.header-tel, .header-mail, .header-tel path, .header-mail path, .header__social-icon path {
  transition: all 0.3s ease;
}
.header-tel:hover, .header-mail:hover, .header-tel:hover path, 
.header-mail:hover path, .header__social-icon:hover path  {
  color: #40FFB5;
  fill: #40FFB5;
}
.telegram:hover path {
  fill: none;
  stroke: #40FFB5;
}
/*nav*/
.nav_icon {
  width: 30px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}
.nav_icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  transform-origin: left center;
}
.nav_icon span:nth-child(1) {
  top: 0px;
}
.nav_icon span:nth-child(2) {
  top: 7px;
}
.nav_icon span:nth-child(3) {
  top: 14px;
}
.nav_icon.active span:nth-of-type(2) {
  display: none;
}
.nav_icon.active span:nth-of-type(1) {
  transform: rotate(40deg); 
}
.nav_icon.active span:nth-of-type(3) {
  transform: rotate(-40deg);
}
.nav__page {
  background: #1A2738;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  align-items: center;
}
.nav__caption {
  height: max-content;  
  line-height: 1;
}
.lang-switcher {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
.lang-switcher__item {
  padding: 9px 15px;
  position: relative;
}
.lang-switcher__item.active {
  background-color: rgba(64, 255, 181, 0.3);
  color: #40FFB5;
  position: relative;
}
.lang-switcher__item::after {
  content: ' ';
  height: 80%;
  width: 2px;
  background-color: #40FFB5;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1px;
}
.lang-switcher__item:last-child::after {
  content: none;
}

/*footer*/
.footer {
  padding-bottom: 50px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__link {
  transition: all 0.3s ease;
}
.footer__link:hover {
   color: #40FFB5;
}

/**/
.navigation__list, .navigation__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.2em;
}
.navigation__list svg {
  margin-right: 10px;
}
.navigation__item:first-child {
  color: #40FFB5;
}
.navigation__item {
  position: relative;
  padding-left: 14px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
}
.navigation__item::before {
  content: ' ';
  width: 4px;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.navigation__item:first-child {
  padding-left: 0;
}
.navigation__item:first-child::before {
  content: none;
}


main {
  flex-grow: 1;
}
/*page container*/
/*title*/
.nav__caption h1 {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
h1.caption, h2.caption {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2em;
}
.chosen__title, .info-mart__title, .quotes__title, .deals__title, .about__container h4, 
.news__title, .trust__title, .purchases__title, .registr-info__title, .about__container h1, 
.members__container h1, .members__list h2, .arbitration__container h1, .arbitration__container h4, 
.clearing__container h1, .clearing__container h4, .requisites h1, .regulations h1, .members h2, 
.contact h1, .auctions h1, .coal h1, .page__news h1 {
  margin-bottom: 30px;
}
.deals__title, .news__title, .purchases__title {
  display: inline-block;
  margin-right: 30px;
}
.about__container h4, .arbitration__container h4, .clearing__container h4 {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.about__card h4 {
  font-weight: 500;
  font-size: 16px;
  color: #40FFB5;
  margin-bottom: 15px;
}
.about-benefits__card h4 {
  font-weight: 500;
  font-size: 16px;
  color: #40FFB5;
  text-transform: none;
  margin-bottom: 15px;
}
.coal h4 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}

/*section*/
.chosen, .info-mart, .quotes, .deals, .news, .purchases, .navigation {
  padding-top: 80px;
}
.trust, .registr-info, .about, .members, .arbitration, .clearing, .requisites, 
.regulations, .contact, .auctions, .coal, .page__news {
  padding: 80px 0;
}
.quotes {
  overflow: hidden;
}
/*containers*/
.news__container, .deals__container, .purchases__container {
  position: relative;
}
.quotes__container {
  background-color: #172331;
  padding: 25px 0;
  min-height: 150px;
  overflow: hidden;
  width: 100%;
  margin-right: -40px;
}

/*cards*/
.chosen__card {
  position: relative;
  min-height: 175px;
  border-radius: 5px;
  padding: 20px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-right: 24px;
}
.chosen__card:nth-child(3n+1) {
  background: linear-gradient(98.27deg, #0E9AFF 0%, #0B2F75 100%);
}
.chosen__card:nth-child(3n+2) {
  background: linear-gradient(98.27deg, #A40EFF 0%, #750B71 100%);
}
.chosen__card:nth-child(3n+3) {
  background: linear-gradient(98.27deg, #FF9F0E 0%, #834700 100%);
}
.info-mart__cards {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.info-mart__card {
  background: #1A2738;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-height: 380px;
}
/*chart*/
.app-chart__canvas {
  position: relative;
  margin: auto;
  height: 360px;
  width: 100%;
}
.quotes__cards {
  display: flex;
}
.quotes__card {
  background: #1A2738;
  border-radius: 5px;
  padding: 15px 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  margin: 0 20px;
}
.quotes__card:last-child {
  margin-right: 0px;
}
.deals__cards {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 24px;
}
.deals__card{
  background: #1A2738;
  border-radius: 5px;
  padding: 15px 20px;
  position: relative;
}
.news__cards, .about__cards, .about-benefits__cards, .regulations__cards, .coal__cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
}
.coal__cards, .news__cards {
  margin-bottom: 60px;
}
.news__card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.about__card, .about-benefits__card, .regulations__card, .coal__card {
  background: #1A2738;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
}
.coal__card.hidden {
  display: none;
}
.about__cards, .about-benefits__cards {
  margin-bottom: 80px;
}
.trust__cards {
  max-width: 1360px;
  margin: 0 auto;
}
.trust__card {
  height: 150px;
  width: 170px;
  margin-right: 24px;
}
.news__row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 24px;
}
.news__column-rg .news__card {
  margin-bottom: 24px;
}
.news__column-rg .news__card:last-child {
  margin-bottom: 0px;
}
.news__column-lf {
  position: relative;
}
.news__column-lf .news__img {
  height: 600px;
  margin-bottom: 30px;
}
.news__description {
  max-width: 1020px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.news__description p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.news__description p:last-child {
  margin-bottom: 0px;
}
.news__share span {
  margin-bottom: 20px;
  display: block;
}
.news__share svg {
  margin-right: 15px;
  transition: all 0.3s ease;
}
.social-icon:last-child {
  margin-right: 15px;
}
.social-icon:hover svg {
  transform: scale(1.2);
}
.social-icon path {
  transition: all 0.3s ease;
}
.social-icon:hover path  {
  color: #40FFB5;
  fill: #40FFB5;
}
.telegram:hover path {
  fill: none;
  stroke: #40FFB5;
}


/*button*/
button:hover {
  cursor: pointer;
}
.chosen__btn {
  display: flex;
  align-items: center;
}
.chosen__btn span {
  margin-right: 10px;
  transition: all 0.3s ease;
}
.chosen__btn:hover span {
  margin-right: 20px;
}
.button {
  color: #40FFB5;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #40FFB5;
  display: inline-block;
  line-height: 1.2em;
  max-width: max-content;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(64, 255, 181, 0.3);
  cursor: pointer;
}
.news__link {
  margin-top: auto;
}
.seatch-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.seatch-btn {
  background: transparent;
  padding: 16px 70px;
}
.btn-hide {
  display: none;
}
.news__pagination {
  display: flex;
  justify-content: flex-end;
}
.news__pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-align: center;
}
.news__pagination a {
  padding: 6px 12px;
  display: block;
  min-width: 35px;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #40FFB5;
  color: #40FFB5;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.news__pagination a:hover {
  background-color: rgba(64, 255, 181, 0.3);
}
.news__pagination li.active a {
  background-color: #40FFB5;
  color: #fff;
}
.news__pagination .disabled {
  pointer-events: none;
}

/*text*/
.chosen__txt {
  max-width: 270px;
}
.quotes__card__sum {
  font-weight: 500;
  font-size: 16px;
  color: #40FFB5;
}
.quotes__card__date {
  text-align: end;
  font-weight: 500;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.quotes__card__txt {
  grid-column: span 2;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
}
.deals__caption {
  margin-bottom: 15px;
  max-width: max-content;
  font-weight: 400;
  font-size: 14px;
}
.deals__sale {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: .5px solid #FFE040;
  border-radius: 5px;
  color: #FFE040;
  max-width: max-content;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}
.news__date {
  padding: 5px 15px;
  color: #40FFB5;
  font-weight: 500;
  font-size: 10px;
  background: rgba(64, 255, 181, 0.3);
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.news__caption {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
}
.news__txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 25px;
}

.deals__tooltip {
  position: relative;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.deals__tooltip:hover {
  cursor: pointer;
}
.deals__tooltip .deals__txt {
  visibility: hidden;
  width: 350px;
  background-color: #121C28;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  right: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}
.deals__tooltip .deals__txt::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 30px;
  border-width: 10px;
  border-style: solid;
  border-color: #121C28 transparent transparent transparent;
}
.deals__tooltip:hover .deals__txt {
  visibility: visible;
  opacity: 1;
}
.deals__str {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}
.deals__card:first-child .deals__tooltip .deals__txt {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.deals__card:first-child .deals__tooltip .deals__txt::after {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.registr-info__txt {
  max-width: 1020px;
}
.about__card-txt, .regulations__txt, .coal__txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
}
.members__description, .arbitration__description, .clearing__description, .coal__description {
  max-width: 1040px;
  margin-bottom: 80px;
}
.clearing__description {
  margin-bottom: 30px;
}
.members__description p, .arbitration__description p, .clearing__description p, .coal__description p, .registr-info__txt p {
  margin-bottom: 20px;
}
.members__description p:last-child, .arbitration__description p:last-child, .registr-info__txt p:last-child, 
.clearing__description p:last-child, .coal__description p:last-child {
  margin-bottom: 0px;
}
.arbitration__list {
  width: 100%;
  background: #1A2738;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
}
.arbitration__list li {
  padding: 20px;
}
.arbitration__list li:nth-child(odd) {
  background: #1A2738;
}
.arbitration__list li:nth-child(even) {
  background: #172331;
}
.about__txt-green {
  font-weight: 400;
  font-size: 16px;
  color: #40FFB5;
}
.coal__description ol {
  margin-bottom: 20px;
}
.coal__description li {
  margin-bottom: 20px;
}
.coal__description li:last-child {
  margin-bottom: 0px;
}



/*img*/
.chosen__card img {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 0% 100%);
}
.deals__sale img{
  width: 12px;
  height: 12px;
  object-fit: contain;
  margin-right: 8px;
}
.news__img {
  height: 190px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
.news__img::after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(108.28deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 66.05%);
}
.news__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trust__card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
}
.trust__card img:hover{
  opacity: 1;
  cursor: pointer;
} 
.about-benefits__img, .regulations__img, .coal__img {
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
}
.about-benefits__img img, .regulations__img img, .coal__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*table*/
.purchases__table, .requisites__table, .members__table{
  background: #1A2738;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: auto;
}
.info-mart__table {
  border-radius: 5px;
  overflow: auto;
}
 table {
  width: 100%;
  border-collapse: collapse;
}
 tr:nth-child(odd) {
  background: #1A2738;
}
 tr:nth-child(even) {
  background: #172331;
}
tr:first-child {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}
 th {
  font-weight: 500;
  font-size: 12px;
}
 td {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
 th, td {
  padding: 15px 20px;
  text-align: left;
  vertical-align: middle;
}
.members__table .address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}
.requisites__table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.auctions__table th, .auctions__table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.auctions__table a {
  text-decoration: underline;
  color: #00A3FF;
}
.arr-green, .arr-red {
  display: flex;
}
.info-mart__growth .arr-red {
  display: none;
}
.info-mart__growth .ton {
  color: #40FFB5;
}
.info-mart__decline .arr-green {
  display: none;
}
.info-mart__decline .ton {
  color: #FF4040;
}

/*table btn*/
.auctions__table{
  position: relative;
  overflow: hidden;
}
.auctions__table__content {
  /* background: #1A2738; */
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow-x: auto;
  padding-bottom: 4px;
}
.table__btn-left, .table__btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
}
.table__btn-left.show, .table__btn-right.show {
  opacity: 1;
}
.table__btn-left {
  left: -22%;
}
.table__btn-right {
  right: -22%;
}
.table__btn-left::before {
  content: url(../img/tbl-arrow.svg);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(180deg);
}
.table__btn-right::before {
  content: url(../img/tbl-arrow.svg);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.table__btn-left:hover, .table__btn-right:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}


/*contact*/
.contact__description {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
  max-width: 1220px;
}
.contact__info a, .contact__address {
  display: block;
  margin-bottom: 20px;
  max-width: 400px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
.contact__info svg {
  margin-right: 13px;
}
.contact__info .contact__address {
  align-items: flex-start;
}
.contact__info a:last-child {
  margin-bottom: 0px;
}
.contact__info path {
  transition: all 0.3s ease;
}
.contact__info a:hover path, .contact__info a:hover {
  color: #40FFB5;
  fill: #40FFB5;
}
/*map*/
.contact__map {
  border-radius: 5px;
  overflow: hidden;
  height: 300px;
}
.contact__map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/*form*/
.form__seatch {
  margin-bottom: 40px;
  max-width: max-content;
  display: flex;
  align-items: stretch;
}
.form__seatch input {
  min-width: 600px;
  background: #1A2738;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px 0px 0px 5px;
  border: none;
  margin: 0;
  padding: 16px;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}
.form__seatch input:focus {
  outline: none;
}
.form__seatch input::placeholder {
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.form__seatch button {
  padding: 16px 30px;
  background: rgba(64, 255, 181, 0.3);
  border: none;
  border-radius: 0px 5px 5px 0px;
  color: #40FFB5;
  border-left: 1px solid #40FFB5;
}

/*popup*/
.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(44, 45, 54, 0.6);
  backdrop-filter: blur(4px);
  z-index: 99;
  display: none;
}
.popup__container {
  padding: 30px;
  background: rgb(44, 45, 54);
  border-radius: 5px;
  max-width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}
.form__title {
  text-align: center;
  margin-bottom: 24px;
}
.popup__form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.form__text, .form__btn {
  grid-column: span 2;
}
.form__inputs, .form__text {
  display: grid;
  gap: 8px;
}
.form__inputs input, .form__text textarea {
  background-color: transparent;
  border: 1px solid rgba(64, 255, 181, 0.5);
  border-radius: 10px;
  padding: 12px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  background: #2C2D36;
}
.form__inputs input::placeholder, .form__text textarea::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.form__inputs input:focus, .form__text textarea:focus {
  outline: none;
}
.form__text textarea {
  resize: none;
  height: 100px;
}
.popup__form label {
  font-size: 14px;
}
.form__btn {
  background: transparent;
  border-radius: 5px;
  border: 1px solid #40FFB5;
  color: #40FFB5;
  padding: 16px 70px;
  max-width: max-content;
  margin: 0 auto;
  transition: all 0.3s ease;
}
.form__btn:hover {
  background: rgba(64, 255, 181, 0.3);
}


/*Responsive*/
@media (max-width: 1780px) {
  body {
    display: block;
  }
  .nav_icon {
    display: block;
  }
  .page__header {
    position: absolute;
    left: -100vw;
    top: 0;
    transition: all 0.5s linear;
  }
  .page__header.opened {
    left: 0;
  }
  .page__container {
    width: inherit;
  }
  .header__close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    line-height: 1;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .header__close:hover {
    cursor: pointer;
  }
  .quotes__container {
    max-width: unset;
  }
}
@media (max-width: 1600px) {
  .deals__cards {
    grid-template-columns: repeat(4,1fr);
  }
}
@media (max-width: 1450px) {
  .trust__cards {
    max-width: 1100px;
  }
  .deals__cards, .about__cards, .about-benefits__cards, .regulations__cards, .coal__cards {
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width: 1200px) {
  .trust__cards {
    max-width: 980px;
  }
  .table__btn-left {
    left: -20%;
  }
  .table__btn-right {
    right: -20%;
  }
  .news__column-lf .news__img {
    height: 400px;
  }
}
@media (max-width: 1100px) {
  .news__cards, .about__cards, .about-benefits__cards, .regulations__cards, .coal__cards {
    grid-template-columns: repeat(2,1fr);
  }
  .trust__cards {
    max-width: 840px;
  }
  .deals__card:nth-child(4) .deals__tooltip .deals__txt {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .deals__card:nth-child(4) .deals__tooltip .deals__txt::after {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 980px) {
  .deals__btn {
    margin-bottom: 30px;
  }
  .trust .slick-dotted.slick-slider {
    margin-bottom: 50px;
  }
  .trust .slick-dots {
    bottom: -80px;
  }
  .info-mart__cards {
    grid-template-columns: 1fr;
  }
  .chosen__card img {
    width: 150px;
  }
    .deals__card:nth-child(4) .deals__tooltip .deals__txt {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .deals__card:nth-child(4) .deals__tooltip .deals__txt::after {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .table__btn-left, .table__btn-right {
    width: 25%;
    height: 35%;
  }
  .news__row {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .news__column-rg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .news__column-rg .news__card {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .chosen__card img {
    width: 250px;
  }
  .deals__cards {
    grid-template-columns: repeat(2,1fr);
  }
  .deals__tooltip .deals__txt {
    width: 260px;
  }
  .deals__str {
    font-size: 10px;
  }
  .deals__card:nth-child(odd) .deals__tooltip .deals__txt {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .deals__card:nth-child(odd) .deals__tooltip .deals__txt::after {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .deals__card:nth-child(4) .deals__tooltip .deals__txt {
    right: -30px;
    left: auto;
    transform: translateX(0);
  }
  .deals__card:nth-child(4) .deals__tooltip .deals__txt::after {
    right: 30px;
    left: auto;
    transform: translateX(0);
  }
  .nav__caption {
    display: none;
  }
  .chosen, .info-mart, .quotes, .deals, .news, .purchases, .trust, .navigation {
    padding-top: 50px;
  }
  .registr-info, .about, .members, .arbitration, .clearing, .requisites, 
  .regulations, .contact, .coal, .page__news {
    padding: 50px 0;
  }
  .table__btn-left {
    left: -18%;
  }
  .table__btn-right {
    right: -18%;
  }
  .form__seatch input {
    min-width: 400px;
  }
}
@media (max-width: 568px) {
  .button {
    font-size: 14px;
    line-height: 1.2em;
  }
  .seatch-btns .button {
    width: 100%;
    max-width: unset;
  }
  .contact__description {
    grid-template-columns: 1fr;
  }
  .js-slider-mb {
    display: block;
  }
  .js-slider-mb .slick-slide {
    margin: 0 10px;
    width: 80vw;
  }
  .about__cards.slick-dotted.slick-slider, .about-benefits__cards.slick-dotted.slick-slider {
    margin-bottom: 80px;
  }
  .news .slick-dotted.slick-slider, .members__description {
    margin-bottom: 50px;
  }
  .news .slick-dots {
    bottom: -60px;
  }
  .chosen__card img {
    width: 100px;
  }
  .chosen__txt {
    max-width: 220px;
    font-size: 14px;
  }
  .chosen__card {
    margin: 0;
  }
  .item__caption, .item {
    padding-left: 30px;
  }
  .header__logo {
    margin: 30px;
  }
  .table__btn-left {
    left: -16%;
  }
  .table__btn-right {
    right: -16%;
  }
  .news__column-rg {
    display: block;
  }
  .deals__tooltip {
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  .regulations__cards, .coal__cards {
    grid-template-columns: 1fr;
  }
  .form__seatch {
    display: block;
    width: 100%;
    max-width: unset;
  } 
  .form__seatch input {
    margin-bottom: 20px;
    border-radius: 5px;
    min-width: unset;
    width: 100%;
  }
  .form__seatch button {
    border-radius: 5px;
    border-left: unset;
    width: 100%;
  }
  .popup__form {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .form__text, .form__btn {
    grid-column: unset;
  }
  .form__btn {
    padding: 16px;
    width: 100%;
    max-width: unset;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .footer__container {
    display: block;
  }
  .footer__info {
    margin-bottom: 10px;
  }
  .button  {
    display: block;
    margin-bottom: 30px;
  }
  .btn-hide {
    display: none;
  }
}